<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
	integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
	crossorigin="anonymous">

<!--  Datatables  -->
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css" />

<!--  extension responsive  -->
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
<title>Autorizaciones de jugadores</title>
<link rel="icon" type="image/png" href="https://images.vexels.com/media/users/3/181410/isolated/preview/eb4635102ef855d3f98d7805ec155a77-icono-de-deportes-de-pelota-de-voleibol-by-vexels.png" />
</head>
<body class="bg-light">

	<script src="https://www.w3schools.com/lib/w3data.js"></script>
	
	<div class="">
	<div w3-include-html="navbar?id=autorizaciones"></div>
	</div>

	<div class="container">
		<div class="row">
			<div class="py-3 text-center col-lg-12">
				<h1 class="font-weight-bold font-italic">LISTA JUGADORES</h1>
			</div>
		</div>


		<div class="row">
			<div class="col-lg-12 responsive">
				<table id="jugadoresaut"
					class="table table-sm table-striped table-bordered table-hover nowrap display"
					cellspacing="0" style="width: 100%;">
					<thead>
						<tr class="table-primary">
							<th class="invisible"></th>
							<th>Apellidos, Nombre</th>
							<th class="invisible"></th>
							<!-- columnas de autorizacion -->
							
							 <th>Transporte</th>
							<th>Uso de imagen</th>
							<th>Responsabilidad de lesion</th>
							<th>Excursiones</th>
							
						</tr>
					</thead>
					

				</table>
			</div>
		</div>
	</div>
	<script src=https://code.jquery.com/jquery-3.5.1.js></script>
	<!-- Optional JavaScript -->
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>

	<!--   Datatables-->
	<script type="text/javascript"
		src="https://cdn.datatables.net/v/bs4/dt-1.10.22/datatables.min.js"></script>

	<!-- extension responsive -->
	<script
		src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
	<script>
		
		function postAutorizacion(button, id){
			console.log(id);
			console.log(button.value);
			
			if(button.innerText=='AUTORIZADO'){
				$.ajax({
					type : 'POST',
					url : '/jugadores/eliminarautorizacion/' + id+"/"+ button.value,
					success : function(borrar) {
						tablaJugadoresAut.ajax.reload();
					}
				});
			}else{
				$.ajax({
					type : 'POST',
					url : '/jugadores/addautorizacion/' + id+"/"+button.value,
					success : function(anadir) {
						tablaJugadoresAut.ajax.reload();
					}
				});
			}
		}
	
		$(document)
				.ready(
						
						function() {
							
							tablaJugadoresAut=$('#jugadoresaut')
									.DataTable(
											{
												ajax:'[[@{/jugadores/tablajugadoresaut}]]',
								
										
												"columns":[
													{data:'id'},
													{data:'firstName',
														render: function(data, type, row){
															if(type=== 'display'){
																return row.lastName+", "+row.firstName;
															}else{
																return data;
															}
														}
													
													},
													{data:'lastName'},
													{data: 'autorizaciones',
														render: function(data, type, row){
															if(data.includes('TRANSPORTE')){
																return "<button type='button' class='btn btn-outline-success btn-block' onclick='return postAutorizacion(this,"+row['id'] +");' value='TRANSPORTE'>AUTORIZADO</button>"
															}else{
																return "<button type='button' class='btn btn-outline-danger btn-block' onclick='return postAutorizacion(this,"+row['id'] +");' value='TRANSPORTE'>NO AUTORIZADO</button>"
															}
														}
													},
													{data: 'autorizaciones', 
														render: function(data, type, row){
															if(data.includes('USOIMAGEN')){
																return "<button type='button' class='btn btn-outline-success btn-block' onclick='return postAutorizacion(this,"+row['id'] +");' value='USOIMAGEN'>AUTORIZADO</button>"
															}else{
																return "<button type='button' class='btn btn-outline-danger btn-block' onclick='return postAutorizacion(this,"+row['id'] +");' value='USOIMAGEN'>NO AUTORIZADO</button>"
															}
														}
													},
													{data: 'autorizaciones', 
														render: function(data, type, row){
															if(data.includes('RESPONSABILIDADLESION')){
																return "<button type='button' class='btn btn-outline-success btn-block' onclick='return postAutorizacion(this,"+row['id'] +");' value='RESPONSABILIDADLESION'>AUTORIZADO</button>"
															}else{
																return "<button type='button' class='btn btn-outline-danger btn-block' onclick='return postAutorizacion(this,"+row['id'] +");' value='RESPONSABILIDADLESION'>NO AUTORIZADO</button>"
															}
														}
													},
													{data: 'autorizaciones', 
														render: function(data, type, row){
															if(data.includes('EXCURSIONES')){
																return "<button type='button' class='btn btn-outline-success btn-block' onclick='return postAutorizacion(this,"+row['id'] +");' value='EXCURSIONES'>AUTORIZADO</button>"
															}else{
																return "<button type='button' class='btn btn-outline-danger btn-block' onclick='return postAutorizacion(this,"+row['id'] +");' value='EXCURSIONES'>NO AUTORIZADO</button>"
															}
														}
													}
													
												],
												"columnDefs": [
													   {
											                "targets": [ 0 ],
											                "visible": false,
											                "searchable": false
											            },
											            {
											                "targets": [ 1 ],
											                "searchable": true
											            }
											            ,
											            {
											                "targets": [ 2 ],
											                "visible": false
											            },
											            {
											                "targets": [ 3 ],
					
											                "searchable": false
											            },
											            {
											                "targets": [ 4 ],
											               
											                "searchable": false
											            },
											            {
											                "targets": [ 5 ],
											                
											                "searchable": false
											            },
											            {
											                "targets": [ 6 ],
											               
											                "searchable": false
											            }
											          
													  ],
												responsive: true,
												"language" : {
													"url" : "https:////cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
												}
											});

						});
		
	</script>
	<script type="text/javascript">
       w3IncludeHTML();
</script>

</body>
</html>