<meta charset="UTF-8" />

<!-- Modal Sustituciones -->
	<div class="modal fade" id="sustitucionesModal" tabindex="-1"
		aria-labelledby="Sustituciones de jugadores" aria-hidden="true">
		<div class="modal-dialog modal-xl modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header bg-info">
					<h5 class="modal-title" id="staticBackdropLabel"></h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span  class="text-white" aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					
					<div class="row">
						<div class="col-lg-6">
							<span>Jugadores en campo:</span>
							<select class="form-control" id="jugadoresEnCampo" name="jugadoresEnCampo"></select>
						</div>
						
						<div class="col-lg-6">
							<span>Jugadores en banquillo:</span>
							<select class="form-control" id="jugadoresEnBanquillo" name="jugadoresEnBanquillo"></select>
						</div>
					
					</div>
					
					<div class="row">
						<div class="col-lg-12 py-3 text-center">
							<button class="btn btn-info ml-auto mr-2" onclick="return realizarSustitucion(this);" th:title="Sustitución"><i class="fas fa-exchange-alt"></i> Jugadores</button>
						</div>
					</div>
					
					<div class="row">
						
						<div class="col-lg-12 responsive">
						
						<div class="card shadow bg-light">
						<div class="card-header text-white"
							style="background: rgb(23,162,184); background: linear-gradient(90deg, rgba(23,162,184,1) 0%, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 100%);">
							<div class="row">
								<h3 class="card-title ml-3">Jugadores en partido</h3>
								
							</div>
						</div>
						<div class="card-body">
							<div class="container-fluid">
								<table id="sustitucionesJugadores"
									class="table table-striped table-bordered table-hover sustitucionesJugadores responsive"
									style="width: 100%;">
									<thead>
										<tr class="table-primary">
											
											<th>Nombre</th>
											<th>Dorsal</th>
										</tr>
									</thead>
								</table>
							</div>
						</div>
					
						
					</div>
						
				</div>
			</div>		
		</div>			
				<div class="modal-footer"
					style="background: rgb(23,162,184); background: linear-gradient(0deg, rgba(23,162,184,0.75) 0%, rgba(255,255,255,1) 100%);">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>
	
		<!-- Modal Coincide Sistema De Juego -->
	<div class="modal fade" id="modalSistemaJuego" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
     <form id="formModalSistemaJuego" method="post">
      <div class="modal-header modal-header-asistencia bg-danger">
        <h5 class="modal-title modal-title-asistencia" id="staticBackdropLabel">Modal Cambio Sustituciones</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <div class="row">
      	<div class="py-2 text-center col-lg-6">
      			<span>Jugador que entra:</span>
      			<h5 th:id="jugadorEntra" class="font font-italic"></h5>
      			<span th:id="posicionesEntra"></span>
			</div>
		<div class="py-2 text-center col-lg-6">
				<span>Jugador que sale:</span>
      			<h5 th:id="jugadorSale" class="font font-italic"></h5>
      			<span th:id="posicionesSale"></span>
			</div>
      </div>
      
       
      
      <div class="row py-4">
      <div class="col-2"></div>
      <div class="col-8">
      	<span>Seleccione un sistema de juego:</span>
      	<select class="form-control" type="text" placeholder="Sistema de juego" id="sistemajuego" name="sistemajuego" required>
     		<option th:id="colocadorGeneral" th:value="COLOCADOR_GENERAL"  name="sistemajuego">Colocador general</option>
			<option th:id="4-2" th:value="CUATRO_DOS"  name="sistemajuego" >4-2</option>
			<option th:id="5-1" th:value="CINCO_UNO"  name="sistemajuego" >5-1</option>
			<option th:id="6-2" th:value="SEIS_DOS"  name="sistemajuego" >6-2</option>
   		</select>
   	</div>
   		<div class="col-2"></div>
      </div>
      </div>
      
      <div class="modal-footer">
     	<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" onclick="return cambioSistemaJuego();" class="btn btn-info" data-dismiss="modal">Aceptar</button>
        
		
      </div>
      </form>
    </div>
  </div>
</div>

	<script type="text/javascript">
	
	var partidoId = $('#partidoId').val();
	var jugadorEnCampo = null;
	var jugadorEnBanquillo = null;
	
	var removeAllOptionsSelect = function(element_class_or_id){
		var element = $(element_class_or_id+" option");
		$.each(element,function(i,v){
		value = v.value;
		$(element_class_or_id+" option[value="+value+"]").remove();
		})
		}
	
	$(document).on('change', '#jugadoresEnCampo', function(event) {
		jugadorEnCampo = $("#jugadoresEnCampo option:selected").val();
	});
	
	$(document).on('change', '#jugadoresEnBanquillo', function(event) {
		jugadorEnBanquillo = $("#jugadoresEnBanquillo option:selected").val();
	});
	
	function cambioSistemaJuego(){
		var form = new FormData(document.getElementById('formModalSistemaJuego'));
		form.append("partidoId",partidoId);
		
		var minutos = parseInt($('#minute').text());
		var horas = parseInt($('#hour').text())*60;
		form.append('minutoAplicacion',minutos+horas);
		
		$.ajax({
			url : '/estadisticas/cambioSistemaJuego/',
			type : 'post',
			data : form,
			processData : false,
			contentType : false,
			success : function(data) {
				$('#modalSistemaJuego').modal("hide");
				//location.reload();
				//tablaPrincipal.ajax.reload(null, false);
			},
			error : function(data) {
				$('.error').text('');

				for (i = 0; i < data.responseJSON.length; i++) {

					var campo = data.responseJSON[i].field;
					$('.' + campo)
							.text(data.responseJSON[i].defaultMessage);
				}
			}
		});
	}
	
	function realizarSustitucion(data){
		var form = new FormData();
		form.append('partidoId', partidoId);
		form.append('jugadorEnCampo', jugadorEnCampo);
		form.append('jugadorEnBanquillo', jugadorEnBanquillo);
		
		var minutos = parseInt($('#minute').text());
		var horas = parseInt($('#hour').text())*60;
		form.append('minutoSustitucion',minutos+horas);
		
		$.ajax({
            url: '/estadisticas/realizarsustitucion',
            type: 'post',
            data: form,
            processData: false,
            contentType: false,
            success: function(data){

        		
            	if(data != ""){
            		$('#modalSistemaJuego #jugadorEntra').text(data.jugadorEntra.firstName +" "+ data.jugadorEntra.lastName);
            		$('#modalSistemaJuego #jugadorSale').text(data.jugadorSale.firstName +" "+ data.jugadorSale.lastName);
            		$('#modalSistemaJuego #posicionesEntra').text(data.jugadorEntra.posicionPrincipal +", "+ data.jugadorEntra.posicionSecundaria);
            		$('#modalSistemaJuego #posicionesSale').text(data.jugadorSale.posicionPrincipal +", "+ data.jugadorSale.posicionSecundaria);
            		$('.modal-header-asistencia').css("color","white");
					$('.modal-title-asistencia').text("Cambio de sistema de juego");
            		$('#modalSistemaJuego').modal("show");
            	}
                   	
            	tablaJugadores.ajax.reload(null, false);
            	tablaIntroducirEstadisticas.ajax.reload(null, false);
            	
            	removeAllOptionsSelect("#jugadoresEnCampo");
        		removeAllOptionsSelect("#jugadoresEnBanquillo");
        		
        		$.ajax({
        			type : 'GET',
        			url : '/estadisticas/jugadoresEnCampo/'+partidoId,
        			success : function(jugadores) {
        				
        				$.each(jugadores, function(index,
        						jugador) {
        					$('#jugadoresEnCampo').append(
        							$('<option>', {
        								value : jugador.split(";")[1],
        								text : jugador.split(";")[0],
        								name : "jugadoresEnCampo"
        							}))
        				});

        				console.log($("#jugadoresEnCampo option:selected").val());
        				jugadorEnCampo = $("#jugadoresEnCampo option:selected").val();
        			}
        		});
        		
        		$.ajax({
        			type : 'GET',
        			url : '/estadisticas/jugadoresEnBanquillo/'+partidoId,
        			success : function(jugadores) {
        				
        				$.each(jugadores, function(index,
        						jugador) {
        					$('#jugadoresEnBanquillo').append(
        							$('<option>', {
        								value : jugador.split(";")[1],
        								text : jugador.split(";")[0],
        								name : "jugadoresEnBanquillo"
        							}));
        				});
        				console.log($("#jugadoresEnBanquillo option:selected").val());
        				jugadorEnBanquillo = $("#jugadoresEnBanquillo option:selected").val();
        				
        			}
        		});
			
            },
            error: function(data){
            	
            	$('.error').text('');
            	
            	for (i = 0; i < data.responseJSON.length; i++){
            		
            		var campo = data.responseJSON[i].field;
            		$('.'+campo).text(data.responseJSON[i].defaultMessage);
            	}
            }
        });
		
	};
	
	
	$.ajax({
		type : 'GET',
		url : '/estadisticas/jugadoresEnCampo/'+partidoId,
		success : function(jugadores) {
			
			$.each(jugadores, function(index,
					jugador) {
				$('#jugadoresEnCampo').append(
						$('<option>', {
							value : jugador.split(";")[1],
							text : jugador.split(";")[0],
							name : "jugadoresEnCampo"
						}));
			});

			console.log($("#jugadoresEnCampo option:selected").val());
			jugadorEnCampo = $("#jugadoresEnCampo option:selected").val();
		}
	});
	
	$.ajax({
		type : 'GET',
		url : '/estadisticas/jugadoresEnBanquillo/'+partidoId,
		success : function(jugadores) {
			
			$.each(jugadores, function(index,
					jugador) {
				$('#jugadoresEnBanquillo').append(
						$('<option>', {
							value : jugador.split(";")[1],
							text : jugador.split(";")[0],
							name : "jugadoresEnBanquillo"
						}));
			});
			console.log($("#jugadoresEnBanquillo option:selected").val());
			jugadorEnBanquillo = $("#jugadoresEnBanquillo option:selected").val();
			
		}
	});
	

	
		
		var tablaJugadores = null;
		function tablaSustituciones(boton) {
			var partidoId = $('#partidoId').val();
			$(document)
					.ready(
							function() {
								console.log("hola");
								// Create DataTable
								$('.modal-header').css("color","white");
								$('.modal-title').text("Sustitucion jugadores");
								$('#sustitucionesModal').modal("show");
								if (tablaJugadores != null) {
									tablaJugadores.destroy();
									
								}

								tablaJugadores = $('.sustitucionesJugadores')
										.DataTable({
													"lengthMenu" : [  6, 7,8, 9, 10, 11, 12 ],
													responsive : true,
													ajax : '[[@{/estadisticas/tablaSustituciones/}]]'+ partidoId,
													language : {
														emptyTable : "Ningún dato disponible en esta tabla",
														"info" : "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
														"infoEmpty" : "Mostrando 0 de 0 registros",
														"lengthMenu" : "Mostrando _MENU_ registros",
														"search" : "Buscar:",
														"zeroRecords" : "No se encontraron resultados",
														"paginate" : {
															"first" : "Primera",
															"last" : "Última",
															"next" : "Siguiente",
															"previous" : "Anterior"
														},
													},
													"fnRowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
														console.log(aData.enCampo);
														if ( aData.esLibero == true ){
															$('td', nRow).css('background-color', '#58ACFA');
														}else if ( aData.enCampo == true ){
											           		$('td', nRow).css('background-color', '#90EE90');
											            }
											            
											        },
													"columns" : [
															{"data" : "firstName",
																render : function(data,type,row) {
																	return row.firstName+ ", "+ row.lastName;
																}
															},
															{
																data : "numCamiseta"
															}

													],
													columnDefs : [ {
														responsivePriority : 1,
														targets : 0
													//Nombre
													}, {
														responsivePriority : 1,
														targets : 1, //Ha llegado
														orderable : false
													} ]

												});

							});
		};
		
	</script>