<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
	integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
	crossorigin="anonymous">

<!--  Datatables  -->
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css" />

<!--  extension responsive  -->
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
	
	
	
<title>Player Form</title>

<link rel="icon" type="image/png" href="https://images.vexels.com/media/users/3/181410/isolated/preview/eb4635102ef855d3f98d7805ec155a77-icono-de-deportes-de-pelota-de-voleibol-by-vexels.png" />
</head>
<body class="bg-light">
	
	<script src="https://www.w3schools.com/lib/w3data.js"></script>
	
	<div class="">
	<div w3-include-html="navbar?id=listadoJugadores"></div>
	</div>
	
	
	<div class="container">

		<div class="py-3 text-center">
			<h1 class="font-weight-bold font-italic">NUEVO JUGADOR</h1>
		</div>
		<div>
			<a href="#"> <input class="btn btn-secondary btn-lg btn-block"
				type="button" value="Registrarme como Entrenador"></input>
			</a>
		</div>
		<div class="py-3">
			<form action="#" th:action="@{/jugadores/addjugador}"
				th:object="${jugador}" method="post">
				<input type="hidden" th:field="*{id}"></input>

				<div class="row">
					<div class="form-group col">
						<input class="form-control" type="text" placeholder="Nombre"
							th:field="*{firstName}" th:value="${firstName}" required></input>
					</div>
					
					<div class="form-group col">
						<input class="form-control" type="text" placeholder="Apellidos"
							th:field="*{lastName}" th:value="${lastName}" required></input>
					</div>
				</div>
				
				<div class="row">
				<!-- validacion first name -->
				<div class="form-group col">
					<div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="alert alert-danger" role="alert"></div>
					</div>
				<!-- validacion last name -->
				<div class="form-group col">
				<div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="alert alert-danger" role="alert"></div>
				</div>
				</div>
				
				<div class="form-group">
					<input class="form-control" type="text" placeholder="DNI"
						th:field="*{dni}" th:value="${dni}" required></input>
				</div>
				<!-- validacion dni -->
				<div th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}" class="alert alert-danger" role="alert"></div>
				
					
				<div class="form-group">
					<input class="form-control" type="text" placeholder="Email"
						th:field="*{email}" th:value="${email}" required></input>
				</div>
				<!-- validacion email -->
				<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert alert-danger" role="alert"></div>
				
				<div class="row">
					<div class="form-group col">
						<input class="form-control" type="text" placeholder="Dirección"
							th:field="*{direccion}" th:value="${direccion}" required></input>
					</div>
				
					<div class="form-group col">
						<input class="form-control" type="text" placeholder="Localidad"
							th:field="*{localidad}" th:value="${localidad}" required></input>
					</div>
				</div>
				
				<div class="row">
				<!-- validacion direccion -->
					<div class="form-group col">
						<div th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}" class="alert alert-danger" role="alert"></div>
					</div>
					<!-- validacion localidad -->
					<div class="form-group col">
						<div th:if="${#fields.hasErrors('localidad')}" th:errors="*{localidad}" class="alert alert-danger" role="alert"></div>
					</div>
				</div>
				
				<div class="row">
					<div class="form-group col">
						<!-- <label class="col-form-label col-form-label-sm obligatorio" for="fechaNacimiento" th:text="Fecha de Nacimiento: "></label> -->
						<div class="input-group date datePicker">
							<input type="text" class="form-control" id="fechaNacimiento" name="fechaNacimiento" th:field=*{fechaNacimiento} th:value="${fechaNacimiento}" placeholder="Fecha de Nacimiento" maxlength="10"/>
							<div class="input-group-append input-group-addon">
								<span class="input-group-text"><i class="far fa-calendar"></i></span>
							</div>
						</div>
					</div>
					<div th:if="${#fields.hasErrors('fechaNacimiento')}" th:errors="*{fechaNacimiento}" class="alert alert-danger" role="alert"></div>
				</div>
				
				<div class="row">
					<div class="form-group col">
						<label>Altura(cm):</label> <input class="form-control"
							type="number" placeholder="Altura(cm)" th:field="*{altura}"
							th:value="${altura}" min="1" max="300" required></input>
					</div>
					<div class="form-group col">
						<label>Peso(Kg):</label> <input class="form-control" type="number"
							placeholder="Peso(Kg)" th:field="*{peso}" th:value="${peso}"
							min=1 required></input>
					</div>
					<div class="form-group col">
						<label>Estado Actual:</label> <select class="form-control" th:field="*{estadoActual}" th:selected="${estadoActual}">
							<option th:value="'EN_FORMA'" th:text="'EN FORMA'"></option>
							<option th:value="'LESIONADO'" th:text="'LESIONADO'"></option>
						</select>
					</div>
				</div>
				
				<div class="row">
				<!-- validacion direccion -->
				<div class="form-group col">
					<div th:if="${#fields.hasErrors('altura')}" th:errors="*{altura}" class="alert alert-danger" role="alert"></div>
					</div>
				<!-- validacion localidad -->
				<div class="form-group col">
				<div th:if="${#fields.hasErrors('peso')}" th:errors="*{peso}" class="alert alert-danger" role="alert"></div>
				</div>
				<div class="form-group col"></div>
				</div>
				<div class="row" th:if="${param.id[0] == '0'}">
					<div class="form-group col">
						<input class="form-control" type="text"
							placeholder="Nombre de Usuario" th:field="*{user.username}"
							th:value="${username}" required></input>
					</div>
					<div class="form-group col">
						<input class="form-control" type="text" placeholder="Contraseña"
							th:field="*{user.password}" required></input>
					</div>
				</div>
				<div class="row" th:if="${param.id[0] != '0'}">
					<div class="form-group col">
						<input class="form-control" type="hidden"
							placeholder="Nombre de Usuario" th:field="*{user.username}"
							th:value="${username}" required></input>
					</div>
					<div class="form-group col">
						<input class="form-control" type="hidden" placeholder="Contraseña"
							th:field="*{user.password}" required></input>
					</div>
				</div>
				<div class="row">
					<div class="form-group col">
						<label>Mi posición principal es:</label> <select
							class="form-control" th:field="*{posicionPrincipal}"
							th:selected="${posicionSecundarial}">
							<option th:value="'PUNTA'" th:text="PUNTA"></option>
							<option th:value="'OPUESTO'" th:text="OPUESTO"></option>
							<option th:value="'COLOCADOR'" th:text="COLOCADOR"></option>
							<option th:value="'CENTRAL'" th:text="CENTRAL"></option>
							<option th:value="'LIBERO'" th:text="LÍBERO"></option>
						</select>
					</div>
					<div class="form-group col">
						<label>Mi posición secundaria es:</label> <select
							class="form-control" th:field="*{posicionSecundaria}"
							th:selected="${posicionSecundarial}">
							<option th:value="'PUNTA'" th:text="PUNTA"></option>
							<option th:value="'OPUESTO'" th:text="OPUESTO"></option>
							<option th:value="'COLOCADOR'" th:text="COLOCADOR"></option>
							<option th:value="'CENTRAL'" th:text="CENTRAL"></option>
							<option th:value="'LIBERO'" th:text="LÍBERO"></option>
						</select>
					</div>
				</div>
				<input class="btn btn-outline-success btn-lg btn-block"
					type="submit" value="Aceptar"></input>
			</form>
			<input onclick="location.href='/jugadores/showjugadores'"
				class="btn btn-outline-danger btn-lg btn-block mt-2" type="button"
				value="Cancelar"></input>
		</div>
	</div>
	<script src=https://code.jquery.com/jquery-3.5.1.js></script>
	<!-- Optional JavaScript -->
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js" integrity="sha512-GDey37RZAxFkpFeJorEUwNoIbkTwsyC736KNSYucu1WJWFK9qTdzYub8ATxktr6Dwke7nbFaioypzbDOQykoRg==" crossorigin="anonymous"></script>
		
		<script type="text/javascript">
       w3IncludeHTML();
	</script>
	<script>
		$('.datePicker').datetimepicker({
			format : 'DD/MM/YYYY',
			widgetPositioning: {
			vertical: 'bottom'
			}
		});
	</script>
	
</body>
</html>