<meta charset="UTF-8" />

<div class="modal fade" id="agregarJugadoresModal" data-backdrop="static"
		data-keyboard="false" tabindex="-1" aria-labelledby="Gestion"
		aria-hidden="true">
		<div class="modal-dialog modal-xl modal-dialog-centered">
			<div class="modal-content">
				<form id="formAgregarJugadores" method="post">
					<div class="modal-header bg-info">
						<h5 class="modal-title" id="gestionPartido"></h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group" id="modalFormPartido">
							
							
							<div class="form-group col-12">
								<label><span class="text-danger">(*) </span>Jugadores:</label>
								
									
										  <table id="jugadoresNoEquipo"
											class="table table-sm table-striped table-bordered table-hover nowrap"
											cellspacing="0" style="width: 100%;">
											<thead>
												<tr class="table-primary">
													<th>ID</th>
													<th>Nombre</th>
													<th>Apellidos</th>
													<th>Posición principal</th>
													<th>Posición secundaria</th>
													<th>Acciones</th>
												</tr>
											</thead>
						
										</table>
									
									<small
									class="jugadores text-danger error"></small>
							</div>
							
						</div>
					</div>
					<div class="modal-footer"
						style="background: rgb(23, 162, 184); background: linear-gradient(0deg, rgba(23, 162, 184, 0.75) 0%, rgba(255, 255, 255, 1) 100%);">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Cerrar</button>
						<button type="button" class="btn btn-info"
							onclick="return enviarEdicion();">Aceptar</button>
							
						<input type="hidden" id="id" name="id"></input>
						
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<!-- Modal Estadisticas -->
	<div class="modal fade" id="estadisticasModal" tabindex="-1" aria-labelledby="Estadísticas" aria-hidden="true">
	  <div class="modal-dialog modal-xl modal-dialog-centered">
	    <div class="modal-content">
	      <div class="modal-header bg-success">
	        <h5 class="modal-title" id="staticBackdropLabel"></h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	      <div id="contenedor-modal"></div>
	      </div>
	      <div class="modal-footer" style="background: rgb(40,167,69); background: linear-gradient(0deg, rgba(40,167,69,1) 0%, rgba(255,255,255,1) 100%);">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<script>
	
	$('#estadisticasModal').modal("hide");
	
	var id = $("#equipo_id").val();
	
	function agregarJugador(data,jugadorId,equipoId){
		window.location.href = "/equipos/addjugador/"+jugadorId+ "/"+ equipoId;
	}
	
	function estadisticasJugador(data,id){
		
		$.ajax({
			type: 'GET',
			url: '/jugadores/findestadisticasjugador/'+id,
			success: function(stats){
				var max = Math.max(stats.saquesTotales,stats.recepcionesTotales,stats.colocacionesTotales,stats.defensasTotales,stats.bloqueosTotales,stats.rematesTotales,stats.fintasTotales,stats.numAtaquesRapidosTotales);

				Highcharts.chart('contenedor-modal', {
					chart: {
		                type: 'column',
		            },
		            title: {
			            text: '',
			        },
		            xAxis: {
		                categories: [
		                    'Saque',
		                    'Recepción',
		                    'Colocación',
		                    'Defensa',
		                    'Bloqueo',
		                    'Remate',
		                    'Finta',
		                    'Ataque Rápido'
		                ],
		                crosshair: true
		            },
		            yAxis: [{ // Primary yAxis
			            labels: {
			                format: '{value}',
			                style: {
			                    color: Highcharts.getOptions().colors[1]
			                }
			            },
			            title: {
			                text: 'Estadísticas',
			                style: {
			                    color: Highcharts.getOptions().colors[1]
			                }
			            },
			            opposite: true
			        }, { // Secondary yAxis
			        	max: 100,
			        	min: 0,
			            title: {
			                text: 'Porcentaje',
			                style: {
			                    color: Highcharts.getOptions().colors[0]
			                }
			            },
			            labels: {
			                format: '{value} %',
			                style: {
			                    color: Highcharts.getOptions().colors[1]
			                }
			            }
			        }],
		            tooltip: {
		                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
		                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
		                    '<td style="padding:0"><b>{point.y:.0f} </b></td></tr>',
		                footerFormat: '</table>',
		                shared: true,
		                useHTML: true
		            },
		            plotOptions: {
		                column: {
		                    pointPadding: 0.2,
		                    borderWidth: 0
		                }
		            },
		            series: [
		                {
		                    name: 'Acertados',
		                    data: [stats.saquesAcertados,stats.recepcionesAcertadas,stats.colocacionesAcertadas,stats.defensasAcertadas,stats.bloqueosAcertados,stats.rematesAcertados,stats.fintasAcertadas,stats.numAtaquesRapidosAcertados]
		                },
		                {
		                    name: 'Totales',
		                    data: [stats.saquesTotales,stats.recepcionesTotales,stats.colocacionesTotales,stats.defensasTotales,stats.bloqueosTotales,stats.rematesTotales,stats.fintasTotales,stats.numAtaquesRapidosTotales],
		                },
		                {
		                    name: 'Porcentajes',
		                    data: [stats.porcentajeSaques*100,stats.porcentajeRecepciones*100,stats.porcentajeColocaciones*100,stats.porcentajeDefensas*100,stats.porcentajeBloqueos*100,stats.porcentajeRemates*100,stats.porcentajeFintas*100,stats.porcentajeAtaquesRapidos*100],
		                }
		            ]
				})
				$('.modal-header').css("color","white");
				$('.modal-title').text("Estadísticas de "+stats.firstName+" "+stats.lastName);
				$('#estadisticasModal').modal("show");
			}
		});
		
	}
	
	tablaJugadoresNoEquipo = $('#jugadoresNoEquipo').DataTable({
		
		responsive: true,
		"language" : {
			"url" : "https:////cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
		},
		order: [1,'asc'],
		ajax:'[[@{/equipos/jugadoresNoEquipo/}]]' + id,
		"columns":[
			{data: 'id'},
			{data: 'firstName'},
			{data: 'lastName'},
			{data: 'posicionPrincipal'},
			{data: 'posicionSecundaria'},
			{data: 'email',
				render: function (data, type, row) {
					return "<button class='btn btn-outline-success mx-0 estadisticas' onclick='return estadisticasJugador(this,"+row['id']+");' type='button' title='Estadísticas del jugador'>"+
						"Estadísticas"+"</button>" +
					"<button class='btn btn-outline-primary mx-0 detalles' onclick='return agregarJugador(this,"+row['id']+","+parseInt(id,10)+");' type='button' title='Añadir jugador'>"+
						"Añadir"+"</button>"
						
				}
			}
		],
		columnDefs: [
			{
                "targets": [ 0 ],
                "visible": false,
                "searchable": false
            }
		]
	});
	
	function agregarJugadores(){
		
		tablaJugadoresNoEquipo.ajax.reload(null, false);
		
		$('.modal-header').css("color", "white");
		$('.modal-title').text(
				"Añadir jugadores al equipo");
		$('#agregarJugadoresModal').modal("show");
	};

</script>