<meta charset="UTF-8" />

<div class="modal fade" id="agregarJugadoresModal" data-backdrop="static"
		data-keyboard="false" tabindex="-1" aria-labelledby="Gestion"
		aria-hidden="true">
		<div class="modal-dialog modal-xl modal-dialog-centered">
			<div class="modal-content">
				<form id="formAgregarJugadores" method="post">
					<div class="modal-header bg-info">
						<h5 class="modal-title" id="gestionPartido"></h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group" id="modalFormPartido">
							
							
							<div class="form-group col-12">
								<label><span class="text-danger">(*) </span>Jugadores:</label>
								
									
										  <table id="jugadoresNoEquipo"
											class="table table-sm table-striped table-bordered table-hover nowrap"
											cellspacing="0" style="width: 100%;">
											<thead>
												<tr class="table-primary">
													<th>Nombre</th>
													<th>Apellidos</th>
													<th>Posición principal</th>
													<th>Posición secundaria</th>
												</tr>
											</thead>
						
										</table>
									
									<small
									class="jugadores text-danger error"></small>
							</div>
							
						</div>
					</div>
					<div class="modal-footer"
						style="background: rgb(23, 162, 184); background: linear-gradient(0deg, rgba(23, 162, 184, 0.75) 0%, rgba(255, 255, 255, 1) 100%);">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Cerrar</button>
						<button type="button" class="btn btn-info"
							onclick="return enviarEdicion();">Aceptar</button>
						<input type="hidden" id="id" name="id"></input>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<script>
	
	var id = $("#equipo_id").val();
	
	tablaJugadoresNoEquipo = $('#jugadoresNoEquipo').DataTable({
		responsive: true,
		"language" : {
			"url" : "https:////cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
		},
		order: [1,'asc'],
		ajax:'[[@{/equipos/jugadoresNoEquipo/}]]' + id,
		"columns":[
			{data: 'firstName'},
			{data: 'lastName'},
			{data: 'posicionPrincipal'},
			{data: 'posicionSecundaria'}
		]
	});
	
	function agregarJugadores(){
		
		tablaJugadoresNoEquipo.ajax.reload(null, false);
		
		$('.modal-header').css("color", "white");
		$('.modal-title').text(
				"Añadir jugadores al equipo");
		$('#agregarJugadoresModal').modal("show");
	};

</script>