
<!-- Modal Edicion -->
<meta charset="UTF-8">
<div class="modal fade" id="modalBus" data-backdrop="static"
	data-keyboard="false" tabindex="-1" aria-labelledby="Gestion"
	aria-hidden="true">
	<div class="modal-dialog modal-md modal-dialog-centered">
		<div class="modal-content">
			<form id="formGestionBus" method="post">
				<div class="modal-header bg-info">
					<h5 class="modal-title" id="gestionBus"></h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<input type="hidden" id="idPartido2" name="idPartido2"></input>

					<div class="form-group col">
						<label><span class="text-danger">(*) </span>TIPO DE VIAJE:</label>
						<select class="form-control" th:id="tipoViaje" name="tipoViaje">
							<option th:id="'IDA'" th:value="IDA">IDA</option>
							<option th:id="'VUELTA'" th:value="VUELTA">VUELTA</option>
							<option th:id="'IDAYVUELTA'" th:value="IDAYVUELTA">IDA Y
								VUELTA</option>
						</select>
					</div>
				</div>
		<div class="modal-footer"
			style="background: rgb(23, 162, 184); background: linear-gradient(0deg, rgba(23, 162, 184, 0.75) 0%, rgba(255, 255, 255, 1) 100%);">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
			<button type="button" class="btn btn-info"
				onclick="return enviarBus();">Aceptar</button>
			<input type="hidden" id="id" name="id"></input>
		</div>
		</form>
	</div>
</div>
</div>

<script>
	function autobuses(id) {
		$('#modalBus .modal-header').css("color", "white");
		$('#modalBus .modal-title').text("Elegir autobús");
		$('#modalBus').modal("show");

	};

	function enviarBus() {
		var form = new FormData(document.getElementById('formGestionBus'));
		$.ajax({
			url : '/partidos/postbus/',
			type : 'post',
			data : form,
			processData : false,
			contentType : false,
			success : function(data) {
				$('#modalBus').modal("hide");
				toastSuccess("Viaje creado con éxito");
				tablaPrincipal.ajax.reload(null, false);
			},
			error : function(data) {

				$('.error').text('');

				for (i = 0; i < data.responseJSON.length; i++) {

					var campo = data.responseJSON[i].field;
					$('.' + campo).text(data.responseJSON[i].defaultMessage);
				}
			}
		});
	}
</script>