<meta charset="UTF-8" />

	<div class="modal fade" id="confirmacionModal" data-backdrop="static"
		data-keyboard="false" tabindex="-1" aria-labelledby="Gestion"
		aria-hidden="true">
		<div class="modal-dialog modal-md modal-dialog-centered">
			<div class="modal-content">
				<form id="formConfirmacionPartido" method="post">
					<div class="modal-header bg-danger">
						<h5 class="modal-title" id="confirmacionPartido"></h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<span>El partido va a ser eliminado, y la asistencia de los jugadores será cancelada, ¿Está seguro?</span>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Cerrar</button>
						<button type="button" class="btn btn-info"
							onclick="return confirmarBorrado($('#confirmacionModal #id').val());">Aceptar</button>
						<input type="hidden" id="id" name="id"></input>
					</div>
				</form>
			</div>
		</div>
	</div>
	
<script type="text/javascript">		
				
		
		function eliminar(boton, id){
			$('#confirmacionModal #id').val(id);
			
			$('.modal-header').css("color", "white");
			$('.modal-title').text("Eliminar Partido");
			$('#confirmacionModal').modal("show");
		}
		
		function confirmarBorrado(id){
			$.ajax({
				type: 'POST',
				url : '/partidos/removePartido/'+id,
				success : function(){
					tablaPrincipal.ajax.reload(null, false);
					$('#confirmacionModal').modal("hide");
				}
			});
		}
	</script>