<meta charset="UTF-8" />

<!-- Modal Estadisticas -->
	<div class="modal fade" id="asistenciaPartidoModal" tabindex="-1"
		aria-labelledby="Asistencia a Partido" aria-hidden="true">
		<div class="modal-dialog modal-xl modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header bg-dark">
					<h5 class="modal-title" id="staticBackdropLabel"></h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span  class="text-white" aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div id="contenedor-modal2"></div>
					<div class="row">
						
						<div class="col-lg-12 responsive">
						
						<div id="accordion">
						<div class="card">
							<div class="card-header" id="headingAutobus" style="background: rgb(52,58,64);
									background: linear-gradient(90deg, rgba(52,58,64,1) 0%, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 100%);">
								<div class="row">
								<h5 class="mb-0 ml-3 text-white">
									AUTOBÚS
								</h5>
									<a id="stat" href="#collapseAutobus" data-toggle="collapse" style="margin-left: auto;" class="mr-3 mt-1 text-dark" onclick="cambioMasMenos(this)">
									<i class="fas fa-minus" ></i>
								</a>
							</div>
							</div>
							<div id="collapseAutobus" class="collapse show"
								aria-labelledby="headingAutobus" data-parent="#accordion">
								<div class="card-body">
								
								<div class="row">
						
									<div class="col-lg-12 responsive">
							
										<table class="table table-sm table-striped table-bordered table-hover nowrap autobus"
											cellspacing="0" width="100%" >
											<thead>
												<tr>
													<th>Jugador</th>
													<th>Llegada</th>
												</tr>
											</thead>
										</table>
							
									</div>

								</div>	
								</div>
							</div>
						</div>
						
						
						<div class="card">
							<div class="card-header" id="headingPersonal" style="background: rgb(52,58,64);
									background: linear-gradient(90deg, rgba(52,58,64,1) 0%, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 100%);">
								<div class="row">
								<h5 class="mb-0 ml-3 text-white">
									VEHÍCULO PERSONAL
								</h5>
									<a id="stat" href="#collapsePersonal" data-toggle="collapse" style="margin-left: auto;" class="mr-3 mt-1 text-dark" onclick="cambioMasMenos(this)">
									<i class="fas fa-plus" ></i>
								</a>
							</div>
							</div>
							<div id="collapsePersonal" class="collapse"
								aria-labelledby="headingPersonal" data-parent="#accordion">
								<div class="card-body">
								
								<div class="row">
						
									<div class="col-lg-12 responsive">
							
										<table class="table table-sm table-striped table-bordered table-hover nowrap personal"
											cellspacing="0" width="100%" >
											<thead>
												<tr>
													<th>Jugador</th>
													<th>Llegada</th>
													<th>Propietario</th>
												</tr>
											</thead>
										</table>
							
									</div>

								</div>	
								</div>
							</div>
						</div>
							
						</div>
							
						</div>

					</div>
				</div>
				<div class="modal-footer"
					style="background: rgb(40, 167, 69); background: linear-gradient(0deg, rgba(52,58,64,1) 0%, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 100%);">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
	function cambioMasMenos(element) {

		if (!($('#collapseAutobus').hasClass('collapsing'))) {

			if (element.children[0].classList.contains('fa-plus')) {

				if ($('.fa-minus')[0] != undefined) {

					$('.fa-minus')[0].classList.replace('fa-minus', 'fa-plus');
				}
				element.children[0].classList.replace('fa-plus', 'fa-minus');

			} else {

				element.children[0].classList.replace('fa-minus', 'fa-plus');
			}
		}
	}
	
	function llegada(button, id){
		
		if(button.innerText=='HA LLEGADO'){
			$.ajax({
				type : 'POST',
				url : '/partidos/confirmacionDeLaNoLlegada/' + id,
				success : function(borrar) {
					tablaPropietario.ajax.reload(null, false);
					tablaAutobus.ajax.reload(null, false);
				}
			});
		}else{
			$.ajax({
				type : 'POST',
				url : '/partidos/confirmacionLlegada/' + id,
				success : function(anadir) {
					tablaPropietario.ajax.reload(null, false);
					tablaAutobus.ajax.reload(null, false);
				}
			});
		}
	}
	
						var tabla = null;
						
							function tablaAsistencia(boton,fecha,hora,id) {
								//var id = $(this).parent().find('#id').val();
								$(document).ready(
									function() {
																
									// Create DataTable
									$('#asistenciaPartidoModal').modal("show");
										if(tabla != null){
											tabla.destroy();
										}
												
											tablaAutobus = $('.autobus').DataTable({
												"lengthMenu": [5,6,7,8,9,10],
												responsive: true,
												ajax:'[[@{/partidos/findjugadorespartidoAutobus/}]]'+id,
												language:{
													emptyTable: "Ningún dato disponible en esta tabla",
													"info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
													"infoEmpty":      "Mostrando 0 de 0 registros",
													"lengthMenu":     "Mostrando _MENU_ registros",
													"search":         "Buscar:",
													"zeroRecords":    "No se encontraron resultados",
													"paginate": {
														"first":      "Primera",
														"last":       "Última",
														"next":       "Siguiente",
														"previous":   "Anterior"
													},
												},
												"columns" : [
													{"data" : "nombre",
														render : function(data,type,row) {
															if (row.numCamiseta != null) {
																return row.nombre +", "+ row.numCamiseta;
															} else {
																return data;
															}
														}
													},
													{data: "haLlegado",
														render : function(data,type,row) {
															if (data == true) {
																return "<button type='button' class='btn btn-outline-success btn-block' onclick='return llegada(this,"+row['viajeId'] +");' value='HA LLEGADO'>HA LLEGADO</button>";
															} else {
																return "<button type='button' class='btn btn-outline-danger btn-block' onclick='return llegada(this,"+row['viajeId'] +");' value='NO HA LLEGADO AÚN'>NO HA LLEGADO</button>";
															}
														}
													
													}

													
													

												],
										        columnDefs : [ {
													responsivePriority : 1,
													targets : 0 //Nombre
												}, {
													responsivePriority : 1,
													targets : 1, //Ha llegado
													orderable:false
												}]
					
											});
											
											tablaPropietario = $('.personal').DataTable({
												"lengthMenu": [5,6,7,8,9,10],
												responsive: true,
												ajax:'[[@{/partidos/findjugadorespartidoPersonales/}]]'+id,
												language:{
													emptyTable: "Ningún dato disponible en esta tabla",
													"info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
													"infoEmpty":      "Mostrando 0 de 0 registros",
													"lengthMenu":     "Mostrando _MENU_ registros",
													"search":         "Buscar:",
													"zeroRecords":    "No se encontraron resultados",
													"paginate": {
														"first":      "Primera",
														"last":       "Última",
														"next":       "Siguiente",
														"previous":   "Anterior"
													},
												},
												"columns" : [
													{"data" : "nombre",
														render : function(data,type,row) {
															if (row.numCamiseta != null) {
																return row.nombre +", "+ row.numCamiseta;
															} else {
																return data;
															}
														}
													},
													{data: "haLlegado",
														render : function(data,type,row) {
															if (data == true) {
																return "<button type='button' class='btn btn-outline-success btn-block' onclick='return llegada(this,"+row['viajeId'] +");' value='HA LLEGADO'>HA LLEGADO</button>";
															} else {
																return "<button type='button' class='btn btn-outline-danger btn-block' onclick='return llegada(this,"+row['viajeId'] +");' value='NO HA LLEGADO AÚN'>NO HA LLEGADO</button>";
															}
														}
													
													},

													{"data" : "propietario",
														render: function(data,type,row){
															
															return data;	
															
														}
													}
													
													

												],
										        columnDefs : [ {
													responsivePriority : 1,
													targets : 0 //Nombre
												}, {
													responsivePriority : 1,
													targets : 1, //Ha llegado
													orderable:false
												}, {
													responsivePriority : 2,
													targets : 2, //Medio
													orderable:false
												}]
					
											});
												
												tablaAutobus.ajax.reload(null, false);
												tablaPropietario.ajax.reload(null, false);
												$('#asistenciaPartidoModal .modal-header').css("color", "white");
												$('#asistenciaPartidoModal .modal-title').text("Partido "+fecha+", "+hora);
												

						});
						
					};
</script>