<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Jugadores</title>
</head>
<body class="bg-light">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
	
	<div class="py-3 text-center">
		<h1 class="font-weight-bold font-italic">LISTA JUGADORES</h1>
	</div>
	<table id="jugadores" class="table table-sm table-striped table-bordered table-hover" style="width:100%;">
		<thead>
			<tr class="table-primary">
				<th>Nombre</th>
				<th>Apellido</th>
            	<th>dni</th>
            	<th>Direccion</th>
	            <th>Email</th>
	            <th>Localidad</th>
	            <th>Altura</th>
	            <th>Peso</th>
	            <th>Fecha Nacimiento</th>
	            <th>Posicion Principal</th>
            	<th>Posicion Secundaria</th>
            	<th>Acción</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="jugador : ${jugadores}">
				<td th:text="${jugador.firstName}"></td>
				<td th:text="${jugador.lastName}"></td>
				<td th:text="${jugador.dni}"></td>
				<td th:text="${jugador.direccion}"></td>
				<td th:text="${jugador.email}"></td>
				<td th:text="${jugador.localidad}"></td>
				<td th:text="${jugador.altura}"></td>
				<td th:text="${jugador.peso}"></td>
				<td th:text="${jugador.fechaNacimiento}"></td>
				<td th:text="${jugador.posicionPrincipal}"></td>
				<td th:text="${jugador.posicionSecundaria}"></td>		
				<td>
					<a href="#" th:href="@{/jugadores/jugadorform?id=__${jugador.id}__}">
						<button class="btn btn-outline-info" type="button">editar</button>
					</a>				
				</td>		
		</tbody>	
	
	</table>
	
	<div class="row my-3">
		<div class="col-2"></div>
		<div class="col-8">
			<a href="#" th:href="@{/jugadores/jugadorform?id=0}">
				<button class="btn btn-primary btn-lg btn-block" type="submit">Añadir jugador</button>
			</a>
		</div>
		<div class="col-2"></div>
	</div>

	
	<script src=https://code.jquery.com/jquery-3.5.1.js></script>
	<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
	<script>
		$(document).ready(function() {
		    $('#jugadores').DataTable({
		    	"language":{
		    		"url": "https:////cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
		    	}
		    });
		    	
		} );
	</script>
	
</body>
</html>