<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />

<link rel="stylesheet"
	href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
	integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
	crossorigin="anonymous" />

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
	integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
	crossorigin="anonymous">

<!--  Datatables  -->
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css" />

<!--  extension responsive  -->

<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
<title>Listado materiales</title>
<link rel="icon" type="image/png"
	href="https://images.vexels.com/media/users/3/181410/isolated/preview/eb4635102ef855d3f98d7805ec155a77-icono-de-deportes-de-pelota-de-voleibol-by-vexels.png" />
</head>

<style>
.alert {
	position: absolute;
	top: 5%;
	right: 38%;
	padding: 20px;
	background-color: #f44336;
	color: white;
	opacity: 1;
	z-index: 20000;
	transition: opacity 0.6s;
	margin-bottom: 15px;
}

.alert.success {
	background-color: #4CAF50;
}

.closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}

.closebtn:hover {
	color: black;
}
.custom-class {
    color: red;
    padding: 8px 10px;
    cursor: pointer;
    }
</style>

<body class="bg-light">

	<script src="https://www.w3schools.com/lib/w3data.js"></script>

	<div class="">
		<div w3-include-html="navbar?id=materiales"></div>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="py-3 text-center col-lg-12">
				<h1 class="font-weight-bold font-italic">LISTA MATERIALES</h1>
			</div>
		</div>

		<div class="alert success invisible exito">
			<span class="closebtn ">&times;</span> <strong>Success!</strong> No
			confiaban en mi pero aquí está, añadido con éxito
		</div>

		<div class="row">
			<div class="col-lg-12 responsive">
				<table id="materiales"
					class="table text-center table-bordered table-hover"
					cellspacing="0" style="width: 100%;">
					<thead>
						<tr class="table-primary">
							<th>Material</th>
							<th>NUEVO</th>
							<th>BUENO</th>
							<th>ACEPTABLE</th>
							<th>DAÑADO</th>
							<th>INSERVIBLE</th>
							
							<th>Porcentaje de uso</th>
							<th>Acciones</th>


						</tr>
					</thead>


				</table>
			</div>
			
				<input id="idJugador" class="idJugador" type="hidden" sec:authorize="hasAuthority('jugador')" th:value="${jugador.id}">
				<input id="estado" class="idJugador" type="hidden" sec:authorize="hasAuthority('jugador')" th:value="${jugador.estadoActual}">
				<input id="security" class="security" type="hidden" sec:authorize="hasAuthority('entrenador')" th:value="entrenador">
				<input id="security" class="security" type="hidden" sec:authorize="hasAuthority('jugador')" th:value="jugador">
				<input id="security" class="security" type="hidden" sec:authorize="hasAuthority('estadistico')" th:value="estadistico">
		</div>
		</div>
		
<div class="row my-3">
		<div class="col-lg-4"></div>
			<div class="col-lg-4">
				<button onclick="return crear();" class="btn btn-primary btn-lg btn-block" type="submit">Añadir
					material</button>
			</div>
		<div class="col-lg-4"></div>
		</div>	
		<!-- Modal Edicion -->
	<div class="modal fade" id="materialesModalEstado"
		data-backdrop="static" data-keyboard="false" tabindex="-1"
		aria-labelledby="Gestion" aria-hidden="true">
		<div class="modal-dialog modal-md modal-dialog-centered">
			<div class="modal-content">
				<form id="formGestionMaterialesEstado" method="post">
					<div class="modal-header bg-info">
						<h5 class="modal-title" id="gestionEstado"></h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group" id="modalFormMaterialEstado">
							<div class="form-group col">
								<label><span class="text-danger">(*) </span>Estado Anterior:</label> <select class="form-control"
									th:id="EstadoAnterior" name="EstadoAnterior">
									<option th:id="'INSERVIBLE'" th:value="INSERVIBLE">INSERVIBLE</option>
									<option th:id="'DAÑADO'" th:value="DAÑADO">DAÑADO</option>
									<option th:id="'ACEPTABLE'" th:value="ACEPTABLE">ACEPTABLE</option>
									<option th:id="'BUENO'" th:value="BUENO">BUENO</option>
									<option th:id="'NUEVO'" th:value="NUEVO">NUEVO</option>
								</select>
							</div>
							<div class="form-group col">
								<label><span class="text-danger">(*) </span>Nuevo Estado:</label> <select class="form-control"
									th:id="EstadoNuevo" name="EstadoNuevo">
									<option th:id="'INSERVIBLE'" th:value="INSERVIBLE">INSERVIBLE</option>
									<option th:id="'DAÑADO'" th:value="DAÑADO">DAÑADO</option>
									<option th:id="'ACEPTABLE'" th:value="ACEPTABLE">ACEPTABLE</option>
									<option th:id="'BUENO'" th:value="BUENO">BUENO</option>
									<option th:id="'NUEVO'" th:value="NUEVO">NUEVO</option>
								</select>
							</div>

							<div class="form-group col">
								<label><span class="text-danger">(*) </span>Cantidad:</label><input
									class="form-control" type="number" placeholder="Cantidad"
									th:id="cantidad" name="cantidad" min="1" max="300" required></input>
								<small class="peso text-danger error"></small>
							</div>


						</div>
					</div>
					<div class="modal-footer"
						style="background: rgb(23, 162, 184); background: linear-gradient(0deg, rgba(23, 162, 184, 0.75) 0%, rgba(255, 255, 255, 1) 100%);">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Cerrar</button>
						<button type="button" class="btn btn-info"
							onclick="return enviarEdicionMaterial();">Aceptar</button>
						<input type="hidden" id="id" name="id"></input>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- Modal crear material -->
<div class="modal fade" id="nuevoMaterialModal" data-backdrop="static"
	data-keyboard="false" tabindex="-1" aria-labelledby="Gestion"
	aria-hidden="true">
	<div class="modal-dialog modal-md modal-dialog-centered">
		<div class="modal-content">
			<form id="formNuevoMaterial" method="post">
				<div class="modal-header bg-info">
					<h5 class="modal-title" id="gestionMaterial"></h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group" id="modalFormMaterial">

						<div class="form-group col-12">
							<label><span class="text-danger">(*) </span>Nombre:</label> <input
								class="form-control" type="text" placeholder="Nombre"
								id="nombre" name="nombre" maxlength="255" required></input> <small
								class="nombre text-danger error"></small>
						</div>

						<div class="form-group col">
							<label><span class="text-danger">(*) </span>Tipo
								Material:</label> <select class="form-control" th:id="TipoMaterial"
								name="TipoMaterial">

								<option th:id="'BALONMEDICINAL'" th:value="BALONMEDICINAL">BALON
									MEDICINAL</option>
								<option th:id="'BALONDEJUEGO'" th:value="BALONDEJUEGO">BALON
									DE JUEGO</option>
								<option th:id="'RED'" th:value="RED">RED</option>
								<option th:id="'POSTE'" th:value="POSTE">POSTE</option>
								<option th:id="'CONOBAJO'" th:value="CONOBAJO">CONO
									BAJO</option>
								<option th:id="'CONOMEDIO'" th:value="CONOMEDIO">CONO
									MEDIO</option>
								<option th:id="'CONOALTO'" th:value="CONOALTO">CONO
									ALTO</option>
								<option th:id="'CUERDA'" th:value="CUERDA">CUERDA</option>
								<option th:id="'CINTA'" th:value="CINTA">CINTA</option>
							</select>
						</div>
						<div class="form-group col">
								<label><span class="text-danger">(*) </span>Stock:</label><input class="form-control" type="number" placeholder="Stock" th:id="stock" name="stock" min="1" max="300" required></input>
								<small class="stock text-danger error"></small>
							</div>


					</div>
				</div>
				<div class="modal-footer"
					style="background: rgb(23, 162, 184); background: linear-gradient(0deg, rgba(23, 162, 184, 0.75) 0%, rgba(255, 255, 255, 1) 100%);">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Cerrar</button>
					<button type="button" class="btn btn-info"
						onclick="return enviarEdicion();">Aceptar</button>
					<input type="hidden" id="id" name="id"></input>
				</div>
			</form>
		</div>
	</div>
</div>
<!--  Modal eliminar material -->
<div class="modal fade" id="confirmacionModal" data-backdrop="static"
		data-keyboard="false" tabindex="-1" aria-labelledby="Gestion"
		aria-hidden="true">
		<div class="modal-dialog modal-md modal-dialog-centered">
			<div class="modal-content">
				<form id="formConfirmacionMaterial" method="post">
					<div class="modal-header bg-danger">
						<h5 class="modal-title" id="confirmacionMaterial"></h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<span>¿Cuántos materiales quiere eliminar?</span>
					</div>
						<div class="form-group col">
								<label><span class="text-danger">(*) </span>Estado del material:</label> <select class="form-control"
									th:id="EstadoNuevo" name="EstadoNuevo">
									<option th:id="'INSERVIBLE'" th:value="INSERVIBLE">INSERVIBLE</option>
									<option th:id="'DAÑADO'" th:value="DAÑADO">DAÑADO</option>
									<option th:id="'ACEPTABLE'" th:value="ACEPTABLE">ACEPTABLE</option>
									<option th:id="'BUENO'" th:value="BUENO">BUENO</option>
									<option th:id="'NUEVO'" th:value="NUEVO">NUEVO</option>
								</select>
							</div>

							<div class="form-group col">
								<label><span class="text-danger">(*) </span>Cantidad a retirar:</label><input
									class="form-control" type="number" placeholder="Cantidad"
									th:id="cantidad" name="cantidad" min="1" max="300" required></input>
								<small class="peso text-danger error"></small>
							</div>
					
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Cerrar</button>
						<button type="button" class="btn btn-info"
							onclick="return confirmarBorrado($('#confirmacionModal #id').val());">Aceptar</button>
						<input type="hidden" id="id" name="id"></input>
					</div>
				</form>
			</div>
		</div>
	</div>
	

	<th:block layout:fragment="scripts">
		<script src=https://code.jquery.com/jquery-3.5.1.js></script>
		<!-- Optional JavaScript -->
		<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
			integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
			crossorigin="anonymous"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
			integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
			crossorigin="anonymous"></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
			integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
			crossorigin="anonymous"></script>
			

	

	<script type="text/javascript"
		src="//code.highcharts.com/highcharts.js"></script>
	<!--   Datatables-->
	<script type="text/javascript"
		src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>

	<!-- extension responsive -->
	<script
		src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js"></script>


		<script>
		
			$(document)
					.ready(

							function() {

								tablaMaterial = $('#materiales')
										.DataTable(
												{
													dom: 'ft',
													ajax : '[[@{/materiales/tablamaterial}]]',
													order : [ 1, 'asc' ],

													"columns" : [
															{data : 'tipo'},

															{data : 'estados.NUEVO'},
															{data : 'estados.BUENO'},
															{data : 'estados.ACEPTABLE'},
															{data : 'estados.DAÑADO'},
															{data : 'estados.INSERVIBLE'},

															{data : 'porcentaje',
																render: function ( data, type, row ) {
																		if(data<=70){
																			return "<div class='progress'>"+
															   		 		" <div class='progress-bar' role='progressbar' style='width:"+ data+"%;' aria-valuenow="+data+"' aria-valuemin='0' aria-valuemax='100'>"+data+"%</div>"+
															   				"</div>";
																		} else if(data>70 && data<=90){
																			return "<div class='progress'>"+
															   		 		" <div class='progress-bar bg-warning' role='progressbar' style='width:"+ data+"%;' aria-valuenow="+data+"' aria-valuemin='0' aria-valuemax='100'>"+data+"%</div>"+
															   				"</div>";
																		} else {
																			return "<div class='progress'>"+
															   		 		" <div class='progress-bar bg-danger' role='progressbar' style='width:"+ data+"%;' aria-valuenow="+data+"' aria-valuemin='0' aria-valuemax='100'>"+data+"%</div>"+
															   				"</div>";
																		}
															   			
																	}
																
																	
																		
															},
															{ data: 'porcentaje',
																render: function ( data, type, row ) {
																	
																								
																	  if(data>70 ){
																	    return " <button  class='btn btn-outline-info mx-0 añadir' onclick='return añadir();' type='button' title='añadir'>"+
																		"Añadir</button>"+
																		" <button onclick='return eliminar("+row['tipo'] +");' class='btn btn-outline-danger eliminar' type='button' title='Eliminar'>"+
																		"<i class='fas fa-trash-alt'></i></button>"
																		}else{
																			
																			return " <button onclick='return eliminar("+row['tipo'] +");' class='btn btn-outline-danger eliminar' type='button' title='Eliminar'>"+
																			"<i class='fas fa-trash-alt'></i></button>"
																		}
																	  
																	  
																		
																	  
																	 
															}
															}

													],
													"columnDefs": [
														   {
												                "targets": [ 0 ],
												                
												            },
												            {
												                "targets": [ 1 ],
												                "orderable": false,					
												                "searchable": false
												            }
												            ,
												            {
												                "targets": [ 2 ],
												                "orderable": false,					
												                "searchable": false
												            },
												            {
												                "targets": [ 3 ],
												                "orderable": false,					
												                "searchable": false
												            },
												            {
												                "targets": [ 4 ],
												                "orderable": false,
												                "searchable": false,
												                "class": "custom-class" 
												                
												            },
												            {
												                "targets": [ 5 ],
												                "orderable": false,
												                "searchable": false,
												                "class": "custom-class" 
												            },
												            {
												                "targets": [ 6 ],
												                "orderable": false,
												                "searchable": false,
												            },
												          
														  ],
													responsive : true,
													"language" : {
														"url" : "https:////cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
													}
												});

							});
			
					function añadir() {

						$('.error').text('');

						$.ajax({
							type : 'GET',
							url : '/materiales/showmateriales',
							success : function(edit) {
								$('#modalFormMaterialEstado').children('.only')
										.remove();
								$('#modalFormMaterialEstado').children('#edit')
										.remove();

								$('#stock').val('');
								$('#estado').val('');

								$('#materialesModalEstado .modal-header').css(
										"color", "white");
								$('#materialesModalEstado .modal-title').text(
										"Materiales");
								$('#materialesModalEstado').modal("show");

							}
						});
					};
						
						function porcentajes() {

							$('.error').text('');
						
						$.ajax({
							type : 'GET',
							url : '/materiales/getporcentajes/{id}',
							success : function(edit) {
								$('#modalFormMaterialEstado').children('.only')
										.remove();
								$('#modalFormMaterialEstado').children('#edit')
										.remove();

								$('#stock').val('');
								$('#estado').val('');

								$('#materialesModalEstado .modal-header').css(
										"color", "white");
								$('#materialesModalEstado .modal-title').text(
										"Materiales");
								$('#materialesModalEstado').modal("show");

							}
						});
					};
					
					
					function enviarEdicion() {
						var form = new FormData(document
								.getElementById('formNuevoMaterial'));

						var checkbox = $("#formNuevoMaterial").find("input[type=checkbox]");
						$.each(checkbox, function(key, val) {
						    form.append($(val).attr('value'), $(val).is(':checked'))
						});
						$.ajax({
							url : '/materiales/postmaterial/' + form.get("tipo"),
							type : 'post',
							data : form,
							processData : false,
							contentType : false,
							success : function(data) {
								$('#nuevoMaterialModal').modal("hide");
								location.reload();
								//tablaPrincipal.ajax.reload(null, false);
							},
							error : function(data) {
								$('.error').text('');

								for (i = 0; i < data.responseJSON.length; i++) {

									var campo = data.responseJSON[i].field;
									$('.' + campo)
											.text(data.responseJSON[i].defaultMessage);
								}
							}
						});
					};

					function crear(){
							$('.modal-header').css("color", "white");
							$('.modal-title').text(
									"Nuevo material");
							$('#nuevoMaterialModal').modal("show");
					};



		</script>
		<script type="text/javascript">		
				
		
		function eliminar(id){
			$('#confirmacionModal #id').val(id);
			
			$('.modal-header').css("color", "white");
			$('.modal-title').text("Eliminar Material");
			$('#confirmacionModal').modal("show");
		}
		
		function confirmarBorrado(id){
			$.ajax({
				type: 'POST',
				url : '/materiales/removeMaterial/'+id,
				success : function(){
					tablaMaterial.ajax.reload(null, false);
					$('#confirmacionModal').modal("hide");
				}
			});
		}
	</script>
		<script type="text/javascript">
			w3IncludeHTML();
		</script>
	</th:block>
</body>
</html>