<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />

<link rel="stylesheet"
	href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
	integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
	crossorigin="anonymous" />

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
	integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
	crossorigin="anonymous">

<!--  Datatables  -->
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css" />

<!--  extension responsive  -->
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
<title>Listado materiales</title>
<link rel="icon" type="image/png"
	href="https://images.vexels.com/media/users/3/181410/isolated/preview/eb4635102ef855d3f98d7805ec155a77-icono-de-deportes-de-pelota-de-voleibol-by-vexels.png" />
</head>
<body class="bg-light">

	<script src="https://www.w3schools.com/lib/w3data.js"></script>

	<div class="">
		<div w3-include-html="navbar?id=materiales"></div>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="py-3 text-center col-lg-12">
				<h1 class="font-weight-bold font-italic">LISTA MATERIALES</h1>
			</div>
		</div>


		<div class="row">
			<div class="col-lg-12 responsive">
				<table id="materiales"
					class="table table-sm table-striped table-bordered table-hover nowrap"
					cellspacing="0" style="width: 100%;">
					<thead>
						<tr class="table-primary">
							<th>Material</th>
							<th>Stock</th>
							<th>Añadir Materiales</th>

						</tr>
					</thead>
					<tbody>

						<tr th:each="material : ${materiales}">
							<td th:text="${material.tipo}"></td>
							<td th:text="${material.stock}"></td>
							<td><input type="hidden" id="id" th:value="${material.id}"></input>

								<button sec:authorize="hasAuthority('entrenador')"
									class="btn btn-outline-info mx-0 editar" type="button">Añadir

								</button> <input id="security" type="hidden"
								sec:authorize="hasAuthority('entrenador')" th:value="entrenador">
								<input id="security" type="hidden"
								sec:authorize="hasAuthority('jugador')" th:value="jugador">
							</td>
					</tbody>

				</table>
			</div>
		</div>
		<!-- Modal Edicion -->
		<div class="modal fade" id="editarModal" data-backdrop="static"
			data-keyboard="false" tabindex="-1" aria-labelledby="Editar"
			aria-hidden="true">
			<div class="modal-dialog modal-xl modal-dialog-centered">
				<div class="modal-content">
					<form id="formEditMaterial" method="post">
						<div class="modal-header bg-info">
							<h5 class="modal-title" id="edicionMaterial"></h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div id="contenedor-modal">

								<div class="row">
									<div class="form-group col">
										<label><span class="text-danger">(*) </span>Stock:</label><input
											class="form-control" type="number" placeholder="Stock"
											th:id="stock" name="stock" required></input> <small
											class="stock text-danger error"></small>
									</div>


								</div>
							</div>
						</div>
						<div class="modal-footer"
							style="background: rgb(23, 162, 184); background: linear-gradient(0deg, rgba(23, 162, 184, 0.75) 0%, rgba(255, 255, 255, 1) 100%);">
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal">Cerrar</button>
							<button type="button" class="btn btn-info"
								onclick="return enviarEdicion();">Aceptar</button>
							<input type="hidden" th:id="id" name="id"></input>
						</div>
					</form>
				</div>
			</div>
		</div>
		<script>
			function enviarEdicion() {
				var form = new FormData(document
						.getElementById('formEditMaterial'));
				$.ajax({
					url : '/materiales/updatematerial',
					type : 'post',
					data : form,
					processData : false,
					contentType : false,
					success : function(data) {
						$('#editarModal').modal("hide");
						location.reload();
					},
					error : function(data) {

						$('.error').text('');

						for (i = 0; i < data.responseJSON.length; i++) {

							var campo = data.responseJSON[i].field;
							$('.' + campo).text(
									data.responseJSON[i].defaultMessage);
						}
					}
				});
			};

			$('table .editar').on('click', function() {
				var id = $(this).parent().find('#id').val();
				$('.error').text('');
				$.ajax({
					type : 'GET',
					url : '/materiales/findeditmaterial/' + id,
					success : function(edit) {

						$('#editarModal #stock').val(edit.stock);

						$('.modal-header').css("color", "white");
						$('.modal-title').text("Editar a " + edit.tipo);
						$('#editarModal').modal("show");
					}
				});
			});
		</script>
		<script type="text/javascript">
		w3IncludeHTML();
	</script>
	</div>
</body>
</html>
