<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
	integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
	crossorigin="anonymous">

<!--  Datatables  -->
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css" />

<!--  extension responsive  -->
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
<title>Listado de Estadisticas</title>
<link rel="icon" type="image/png" href="https://images.vexels.com/media/users/3/181410/isolated/preview/eb4635102ef855d3f98d7805ec155a77-icono-de-deportes-de-pelota-de-voleibol-by-vexels.png" />
</head>
<body class="bg-light">
	
	<script src="https://www.w3schools.com/lib/w3data.js"></script>
	
	<div class="">
	<div w3-include-html="navbar?id=estadisticasEntrenamiento"></div>
	</div>

	<div class="container-fluid">
		<div class="row">
		
		<div class="pt-2 col-lg-2">
				<button onclick="location.href='/entrenamientos/showestadisiticasEntrenamiento'" class="btn btn-outline-danger flex btn-lg mt-2" type="button">VOLVER</button>
			</div>
			
			<div class="py-3 text-center col-lg-8">
				<h1 class="font-weight-bold font-italic">ESTADISITICAS ENTRENAMIENTO <span th:text="${estadisticas[0].Entrenamiento.fecha}"></span></h1>
			</div>
		</div>

		<div class="row">
	
			<div class="col">
				<input type="hidden" id="id" th:value="general">
				<button class="btn btn-outline-info btn-sm btn-block stats" type="button">GENERAL</button>
			</div>
			
			<div class="col">
				<input type="hidden" id="id" th:value="saque">
				<button class="btn btn-outline-info btn-sm btn-block stats" type="button">SAQUES</button>
			</div>

			<div class="col">
				<input type="hidden" id="id" th:value="recepcion">
				<button class="btn btn-outline-info btn-sm btn-block stats" type="button">RECEPCIONES</button>
			</div>

			<div class="col">
				<input type="hidden" id="id" th:value="colocacion">
				<button class="btn btn-outline-info btn-sm btn-block stats" type="button">COLOCACIONES</button>
			</div>
			
			<div class="col">
				<input type="hidden" id="id" th:value="defensa">
				<button class="btn btn-outline-info btn-sm btn-block stats" type="button">DEFENSAS</button>
			</div>
			
			<div class="col">
				<input type="hidden" id="id" th:value="bloqueo">
				<button class="btn btn-outline-info btn-sm btn-block stats" type="button">BLOQUEOS</button>
			</div>
			
			<div class="col">
				<input type="hidden" id="id" th:value="remate">
				<button class="btn btn-outline-info btn-sm btn-block stats" type="button">REMATES</button>
			</div>
			
			<div class="col">
				<input type="hidden" id="id" th:value="finta">
				<button class="btn btn-outline-info btn-sm btn-block stats" type="button">FINTAS</button>
			</div>
			
			<div class="col">
				<input type="hidden" id="id" th:value="ataque">
				<button class="btn btn-outline-info btn-sm btn-block stats" type="button">ATAQUES R</button>
			</div>
			
		</div>

		<div class="row">
			<div class="col-lg-12 responsive">
				<table id="estadisiticas"
					class="table table-sm table-striped table-bordered table-hover nowrap"
					cellspacing="0" style="width: 100%;">
					<thead>
						<tr class="table-primary">
							<th>NOMBRE</th>
							<th>FECHA</th>
							<th title="Saques Acertados">Saq A</th>
							<th title="Saques Totales">Saq T</th>
							<th title="Porcentaje Saques"> % Saq</th>
							
							<th title="Recepciones Acertados">Rec A</th>
							<th title="Recepciones Totales">Rec T</th>
							<th title="Porcentaje Recepciones">% Rec</th>
							
							<th title="Colocaciones Acertados">Col A</th>
							<th title="Colocaciones Totales">Col T</th>
							<th title="Porcentaje Colocaciones">% Col</th>
						
							<th title="Defensas Acertados">Def A</th>
							<th title="Defensas Totales">Def T</th>
							<th title="Porcentaje Defensas">% Def</th>
							
							<th title="Bloqueos Acertados">Blo A</th>
							<th title="Bloqueos Totales">Blo T</th>
							<th title="Porcentaje Bloqueos">% Blo</th>
							
							<th title="Remates Acertados">Rem A</th>
							<th title="Remates Totales">Rem T</th>
							<th title="Porcentaje Remates">% Rem</th>
							
							<th title="Fintas Acertados">Fin A</th>
							<th title="Fintas Totales">Fin T</th>
							<th title="Porcentaje Fintas">% Fin</th>
							
							<th title="Ataques Rápidos Acertados">AtR A</th>
							<th title="Ataques Rápidos Totales">AtR T</th>
							<th title="Porcentaje Ataques Rápidos">% AtR</th>
							<th title="Ir a la estadísticas de un jugador en un entrenamiento">Jug</th>
							
						</tr>
					</thead>
					<tbody>
						<tr th:each="estadistica : ${estadisticas}">
							
							<td  th:text="${estadistica.Jugador.firstName}+' '+${estadistica.Jugador.lastName}"></td>
							<td  th:text="${estadistica.Entrenamiento.fecha}"></td>
							<td th:text="${estadistica.saquesAcertados}"></td>
							<td th:text="${estadistica.saquesTotales}"></td>
							<td th:text="${estadistica.porcentajeSaques*100}+'%'"></td>
							<td th:text="${estadistica.recepcionesAcertadas}"></td>
							<td th:text="${estadistica.recepcionesTotales}"></td>
							<td th:text="${estadistica.porcentajeRecepciones*100}+'%'"></td>
							<td th:text="${estadistica.colocacionesAcertadas}"></td>
							<td th:text="${estadistica.colocacionesTotales}"></td>
							<td th:text="${estadistica.porcentajeColocaciones*100}+'%'"></td>
							<td th:text="${estadistica.defensasAcertadas}"></td>
							<td th:text="${estadistica.defensasTotales}"></td>
							<td th:text="${estadistica.porcentajeDefensas*100}+'%'"></td>
							<td th:text="${estadistica.bloqueosAcertados}"></td>
							<td th:text="${estadistica.bloqueosTotales}"></td>
							<td th:text="${estadistica.porcentajeBloqueos*100}+'%'"></td>
							<td th:text="${estadistica.rematesAcertados}"></td>
							<td th:text="${estadistica.rematesTotales}"></td>
							<td th:text="${estadistica.porcentajeRemates*100}+'%'"></td>
							<td th:text="${estadistica.fintasAcertadas}"></td>
							<td th:text="${estadistica.fintasTotales}"></td>
							<td th:text="${estadistica.porcentajeFintas*100}+'%'"></td>
							<td th:text="${estadistica.numAtaquesRapidosAcertados}"></td>
							<td th:text="${estadistica.numAtaquesRapidosTotales}"></td>
							<td th:text="${estadistica.porcentajeAtaquesRapidos*100}+'%'"></td>
							<td>
								<input type="hidden" id="id" th:value="${estadistica.Entrenamiento.id}"></input>
								<a href="#" th:href="@{/entrenamientos/showestadisiticasEntrenamientoJugador?jugador_id=__${estadistica.Jugador.id}__&entrenamiento_id=__${estadistica.Entrenamiento.id}__}">
								<button class="btn btn-outline-success mx-0 estadisticas" type="button" title="Estadísticas"><svg width="1.2em" height=1.2em viewBox="0 0 16 16" class="bi bi-graph-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5z"/>
									</svg>
								</button>
								</a>
							</td>
						</tr>
					</tbody>

				</table>
			</div>
		</div>
		
	</div>



	<script src=https://code.jquery.com/jquery-3.5.1.js></script>
	<!-- Optional JavaScript -->
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>

	<!--   Datatables-->
		
	<script type="text/javascript"
		src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>

	<!-- extension responsive -->
	<script
		src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
		
	<script type="text/javascript"
		src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
		
	<script type="text/javascript"
		src="//code.highcharts.com/highcharts.js"></script>
		
		
	<script type="text/javascript"
		src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>
	
	<script
		src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
	
	
	<script type="text/javascript">
	/**
	 * 
	 */

	$(document).ready(function () {
		    // Create DataTable
		    var table = $('#estadisiticas').DataTable({
		        dom: '',
		        responsive: true,
		        columnDefs : [ {
					responsivePriority : 1,
					targets : 0 //Nombre
				}, {
					responsivePriority : 1,
					targets : 1 //Fecha
				}, {
					responsivePriority : 2,
					targets : -1 //Botón
				}, {
					responsivePriority : 5,
					targets : 2 //SAQUE
				}, {
					responsivePriority : 6,
					targets : 3
				}, {
					responsivePriority : 3,
					targets : 4
				}, {
					responsivePriority : 7,
					targets : 5 //RECEPCION
				}, {
					responsivePriority : 8,
					targets : 6
				}, {
					responsivePriority : 3,
					targets : 7
				}, {
					responsivePriority : 9,
					targets : 8 //COLOCACION
				}, {
					responsivePriority : 10,
					targets : 9
				}, {
					responsivePriority : 3,
					targets : 10
				}, {
					responsivePriority : 11,
					targets : 11 //DEFENSA
				}, {
					responsivePriority : 12,
					targets : 12
				}, {
					responsivePriority : 3,
					targets : 13
				}, {
					responsivePriority : 13,
					targets : 14 //BLOQUEO
				}, {
					responsivePriority : 14,
					targets : 15
				}, {
					responsivePriority : 3,
					targets : 16
				}, {
					responsivePriority : 100,
					targets : 17 //REMATE
				}, {
					responsivePriority : 100,
					targets : 18
				}, {
					responsivePriority : 3,
					targets : 19
				}, {
					responsivePriority : 100,
					targets : 20 //FINTAS
				}, {
					responsivePriority : 100,
					targets : 21
				}, {
					responsivePriority : 3,
					targets : 22
				}, {
					responsivePriority : 100,
					targets : 23 //ATAQUES
				}, {
					responsivePriority : 100,
					targets : 24
				}, {
					responsivePriority : 3,
					targets : 25
				}]
		        
		    });
		    var chart = null;
		    var tipo = null; //poner var general
		    
		    graficaGeneral(table,'general');
		    
		    $('.stats').on('click', function(){
				tipo = $(this).parent().find('#id').val(); 
				
		 	if(chart != null){
		 		
		 		chart.destroy();
		 		
		 	}
		 	if (tipo == 'general'){
		 		
		 		table.columns( [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]).visible(true);
	     		table.columns( [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]).visible(true);
		 		graficaGeneral(table,tipo);
		 	
		 	}else if (tipo == 'tiempos'){
		 		
		 		table.columns( [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]).visible(true);
	     		table.columns( [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]).visible(true);
		 		graficaTiempos (table, tipo);
		 		
		 	}else{
		 		
		 		columnas(table,tipo);
		 		graficaEspecifica(table,tipo);
		 		
	     		
		 	}
		    });
		    
		    $('table .estadisticas').on('click', function(){
				var id = $(this).parent().find('#id').val();
				
				
		    });
		    
		    $('th').on('click', function(){
		    	if(chart != null){
			 		chart.destroy();
			 		if(tipo == null){
			 			tipo = 'general';
			 		}
			 	}
			 	
		    	if (tipo == 'general'){
			 		
			 		table.columns( [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]).visible(true);
		     		table.columns( [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]).visible(true);
			 		graficaGeneral(table,tipo);
			 	
			 	}else if (tipo == 'tiempos'){
			 		
			 		table.columns( [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]).visible(true);
		     		table.columns( [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]).visible(true);
			 		graficaTiempos (table, tipo);
			 		
			 	}else{
			 		
			 		columnas(table,tipo);
			 		graficaEspecifica(table,tipo);
			 		
		     		
			 	}
		    });
		 	
		    // Create the chart with initial data
		    
		    function graficaEspecifica (table, tipo){ 
		    
		    var container = $('<div/>').insertBefore(table.table().container());
		 
		     chart = Highcharts.chart(container[0], {
		        chart: {
		            type: 'column',
		        },
		        title: {
		            text: name(table,tipo),
		        },
		        xAxis: {
		            categories: fechas(table),
		            crosshair: true
		        },
		        yAxis: [{ // Primary yAxis
		            labels: {
		                format: '{value}',
		                style: {
		                    color: Highcharts.getOptions().colors[1]
		                }
		            },
		            title: {
		                text: 'Estadísticas',
		                style: {
		                    color: Highcharts.getOptions().colors[1]
		                }
		            },
		            opposite: true
		        }, { // Secondary yAxis
		        	max: 100,
		        	min: 0,
		            title: {
		                text: 'Porcentaje',
		                style: {
		                    color: Highcharts.getOptions().colors[0]
		                }
		            },
		            labels: {
		                format: '{value} %',
		                style: {
		                    color: Highcharts.getOptions().colors[1]
		                }
		            }
		        }],
		        tooltip: {
		            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
		            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
		                '<td style="padding:0"><b>{point.y:f}</b></td></tr>',
		            footerFormat: '</table>',
		            shared: true,
		            useHTML: true
		        },
		        plotOptions: {
		            column: {
		                pointPadding: 0.2,
		                borderWidth: 0
		            }
		        },
		        series: [
		            {	            	
		            	name: name1(table,tipo),
		            	data: chartData(table,tipo),
		            	yAxis: 0
		            	
		            },
		            {
		            	name: name2(table,tipo),
		            	data: chartData2(table,tipo),
		            	yAxis: 0
		            }, 
		            {
		                type: 'spline',
		                name: 'Porcentaje',
		                data: chartData3(table,tipo),
		                yAxis: 1,
		                tooltip: {
		                    valueSuffix: ' %'
		                },
		                marker: {
		                    lineWidth: 2,
		                    lineColor: Highcharts.getOptions().colors[3],
		                    fillColor: 'white'
		                }
		            }
		        ],
		    });
		    
		    table.on('draw', function () {
		        chart.series[0].setData(chartData(table));
		    });
		    }
		    
		
	function graficaTiempos (table, tipo){ 
			    
			    var container = $('<div/>').insertBefore(table.table().container());
			 
			     chart = Highcharts.chart(container[0], {
			        chart: {
			            type: 'column',
			        },
			        title: {
			            text: name(table,tipo),
			        },
			        xAxis: {
			            categories: fechas(table),
			            crosshair: true
			        },
			        yAxis: { // Primary yAxis
			            labels: {
			                format: '{value}',
			                style: {
			                    color: Highcharts.getOptions().colors[1]
			                }
			            },
			            title: {
			                text: 'Tiempo (min)',
			                style: {
			                    color: Highcharts.getOptions().colors[1]
			                }
			            },
			            opposite: false
			        },
			        tooltip: {
			            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
			            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
			                '<td style="padding:0"><b>{point.y:f}</b></td></tr>',
			            footerFormat: '</table>',
			            shared: true,
			            useHTML: true
			        },
			        plotOptions: {
			            column: {
			                pointPadding: 0.2,
			                borderWidth: 0
			            }
			        },
			        series: [
			            {	            	
			            	name: 'Minutos 5_1',
			            	data: chartData(table,tipo),
			            	yAxis: 0
			            	
			            },
			            {
			            	name: 'Minutos 4_2',
			            	data: chartData2(table,tipo),
			            	yAxis: 0
			            }, 
			            {
			            	name: 'Minutos 6_2',
			            	data: chartData3(table,tipo),
			            	yAxis: 0
			            }
			        ],
			    });
			    
			    table.on('draw', function () {
			        chart.series[0].setData(chartData(table));
			    });
			    }
		
	 function graficaGeneral (table, tipo){ 
		    
		    var container = $('<div/>').insertBefore(table.table().container());
		 
		     chart = Highcharts.chart(container[0], {
		    	 chart: {
			            type: 'spline',
			        },
		        title: {
		            text: 'Estadística',
		        },
		        xAxis: {
		            categories: fechas(table),
		            crosshair: true
		        },
		        yAxis:  {
		        	max: 100,
		        	min: 0,
		            title: {
		                text: 'Porcentaje',
		                style: {
		                    color: Highcharts.getOptions().colors[0]
		                }
		            },
		            labels: {
		                format: '{value} %',
		                style: {
		                    color: Highcharts.getOptions().colors[1]
		                }
		            }
		        },
		        
		        legend: {
		            layout: 'vertical',
		            align: 'right',
		            verticalAlign: 'middle'
		        },
		        plotOptions: {
		            series: {
		                pointPadding: 0.2,
		                borderWidth: 0
		            }
		        },
		   
		        series: [
		            {	            	
		            	name: 'Porcentaje Saques',
		            	data: datos(table,'saque')
		            	
		            },
		            {
		            	name: 'Porcentaje Recepciones',
		            	data: datos(table,'recepcion')
		            },
		            {	            	
		            	name: 'Porcentaje Colocaciones',
		            	data: datos(table,'colocacion')
		            	
		            },
		            {
		            	name: 'Porcentaje Defensas',
		            	data: datos(table,'defensa')
		            },  
		            {	            	
		            	name: 'Porcentaje Bloqueo',
		            	data: datos(table,'bloqueo')
		            	
		            },
		            {
		            	name: 'Porcentaje Remate',
		            	data: datos(table,'remate')
		            }, 
		            {	            	
		            	name: 'Porcentaje Fintas',
		            	data: datos(table,'finta')
		            	
		            },
		            {
		            	name: 'Porcentaje Ataques Rápidos',
		            	data: datos(table,'ataque')
		            }, 
		        ],
		        
		        responsive: {
		            rules: [{
		                condition: {
		                    maxWidth: 500
		                },
		                chartOptions: {
		                    legend: {
		                        layout: 'horizontal',
		                        align: 'center',
		                        verticalAlign: 'bottom'
		                    }
		                }
		            }]
		        }
		    });
		    
		    table.on('draw', function () {
		        chart.series[0].setData(chartData(table));
		    });
		    }
		
	
	});
		
	
 // FUNCTIONS	
 
 			function datos (table,tipo){
 				
	 			var sol = {};
	 			var fecha = [];
	 			var dato = [];
	 			var horas = [];
	 			
				var columna = 0;
		     	
		     	if (tipo == 'saque'){
		     		columna = 4;
		     	} else if(tipo == 'recepcion'){
		     		columna = 7;
		     	}else if(tipo == 'colocacion'){
		     		columna = 10;
		     	}else if (tipo == 'defensa'){
					columna = 13;
		     	}else if (tipo == 'bloqueo'){
					columna = 16;
				}else if (tipo == 'remate'){
					columna = 19;
				}else if (tipo == 'finta'){
					columna = 22;
				}else if (tipo == 'ataque'){
					columna = 25;
				}
		     	
		     	table
	            .column(0, { search: 'applied' })
	            .data()
	            .each(function (val) {
	            	fecha.push( val);
	            });
		     	
		     	 table
		            .column(1, { search: 'applied' })
		            .data()
		            .each(function (val) {
		            	horas.push( val);
		            });
	 			
 				 table
		            .column(columna, { search: 'applied' })
		            .data()
		            .each(function (val) {
		            	dato.push( parseFloat(val.replace('%','')));
		            });
 				
 				for (i = 0; i < dato.length; i++){
		        	dato[i] = dato[i];
		        }
 				 

				return dato;
			}
	
 				
			function name1(table,tipo){
				
				if(tipo == 'saque'){
					return 'Saques Acertados';
				}else if (tipo == 'recepcion'){
					return 'Recepciones Acertadas';
				}else if(tipo == 'colocacion'){
					return 'Colocaciones Acertadas'
				}else if (tipo == 'defensa'){
					return 'Defensas Acertadas'
				}else if (tipo == 'bloqueo'){
					return 'Bloqueos Acertados'
				}else if (tipo == 'remate'){
					return 'Remates Acertadas'
				}else if (tipo == 'finta'){
					return 'Fintas Acertadas'
				}else if (tipo == 'ataque'){
					return 'Ataques Rápidos Acertados'
				}
			}
			
			function name2(table,tipo){
				
				
				if(tipo == 'saque'){
					return 'Saques Totales';
				}else if (tipo == 'recepcion'){
					return 'Recepciones Totales';
				} else if(tipo == 'colocacion'){
					return 'Colocaciones Totales'
				}else if (tipo == 'defensa'){
					return 'Defensas Totales'
				}else if (tipo == 'bloqueo'){
					return 'Bloqueos Totales'
				}else if (tipo == 'remate'){
					return 'Remates Totales'
				}else if (tipo == 'finta'){
					return 'Fintas Totales'
				}else if (tipo == 'ataque'){
					return 'Ataques Rápidos Totales'
				}
			}
			
			function name(table,tipo){
				
				
				if(tipo == 'saque'){
					return 'SAQUES';
				}else if (tipo == 'recepcion'){
					return 'RECEPCIONES';
				}else if(tipo == 'colocacion'){
					return 'COLOCACIONES'
				}else if (tipo == 'defensa'){
					return 'DEFENSAS'
				}else if (tipo == 'bloqueo'){
					return 'BLOQUEOS'
				}else if (tipo == 'remate'){
					return 'REMATES'
				}else if (tipo == 'finta'){
					return 'FINTAS'
				}else if (tipo == 'ataque'){
					return 'ATAQUES RÁPIDOS'
				}
			}
			
		    function chartData(table,tipo) {
		        var counts = {};
		     	var fechas = [];
		     	var horas = [];
		     	var dato = [];
		        
		     	var columna = 0;
		     	
		     	if (tipo == 'saque'){
		     		columna = 2;
		     	} else if(tipo == 'recepcion'){
		     		columna = 5;
		     	}else if (tipo == 'colocacion'){
		     		columna = 8;
		     	}else if (tipo == 'defensa'){
					columna = 11;
				}else if (tipo == 'bloqueo'){
					columna = 14;
				}else if (tipo == 'remate'){
					columna = 17;
				}else if (tipo == 'finta'){
					columna = 20;
				}else if (tipo == 'ataque'){
					columna = 23;
				}else if (tipo == 'tiempos'){
					columna = 26;
				}
		        // Count the number of entries for each position
		        table
		            .column(0, { search: 'applied' })
		            .data()
		            .each(function (val) {
		            	fechas.push( val);
		            });
		        
		        table
	            .column(1, { search: 'applied' })
	            .data()
	            .each(function (val) {
	            	horas.push( val);
	            });
		        
		        table
	            .column(columna, { search: 'applied' })
	            .data()
	            .each(function (val) {
	            	dato.push( parseInt(val,10));
	            });
		        
		         
		        
		        for (i = 0; i < fechas.length; i++){
		        	counts[fechas[i]+" "+horas[i]] = dato[i];
		        }
		        
		     
		        // And map it to the format highcharts uses
		        return $.map(counts, function (val, key) {
		            return {
		                name: key,
		                y: val,
		            };
		        });
		    }
		    
		    function chartData2(table,tipo) {
		        var counts = {};
		     	var fechas = [];
		     	var horas = [];
		     	var dato = [];
		        
				var columna = 0;
		     	
		     	if (tipo == 'saque'){
		     		columna = 3;
		     	} else if(tipo == 'recepcion'){
		     		columna = 6;
		     	} else if (tipo == 'colocacion'){
		     		columna = 9;
		     	}else if (tipo == 'defensa'){
					columna = 12;
		     	}else if (tipo == 'bloqueo'){
					columna = 15;
				}else if (tipo == 'remate'){
					columna = 18;
				}else if (tipo == 'finta'){
					columna = 21;
				}else if (tipo == 'ataque'){
					columna = 24;
				}else if (tipo == 'tiempos'){
					columna = 27;
				}					
		        // Count the number of entries for each position
		        table
		            .column(0, { search: 'applied' })
		            .data()
		            .each(function (val) {
		            	fechas.push(val);
		            });
		        
		        table
	            .column(1, { search: 'applied' })
	            .data()
	            .each(function (val) {
	            	horas.push( val);
	            });
		        
		        table
	            .column(columna, { search: 'applied' })
	            .data()
	            .each(function (val) {
	            	dato.push( parseInt(val,10));
	            });
		        
		        for (i = 0; i < fechas.length; i++){
		        	counts[fechas[i]+" "+horas[i]] = dato[i];
		        }
		        
		     
		        // And map it to the format highcharts uses
		        return $.map(counts, function (val, key) {
		            return {
		                name: key,
		                y: val,
		            };
		        });
		        
		    }
		     
		    function chartData3(table,tipo) {
		        var counts = {};
		     	var fechas = [];
		     	var horas = [];
		     	var dato = [];
		     	
				var columna = 0;
		     	
		     	if (tipo == 'saque'){
		     		columna = 4;
		     	} else if(tipo == 'recepcion'){
		     		columna = 7;
		     	}else if(tipo == 'colocacion'){
		     		columna = 10;
		     	}else if (tipo == 'defensa'){
					columna = 13;
		     	}else if (tipo == 'bloqueo'){
					columna = 16;
				}else if (tipo == 'remate'){
					columna = 19;
				}else if (tipo == 'finta'){
					columna = 22;
				}else if (tipo == 'ataque'){
					columna = 25;
				}else if (tipo == 'tiempos'){
					columna = 28;
				}
		        
		        // Count the number of entries for each position
		        table
		            .column(0, { search: 'applied' })
		            .data()
		            .each(function (val) {
		            	fechas.push( val);
		            });
		        
		        table
	            .column(1, { search: 'applied' })
	            .data()
	            .each(function (val) {
	            	horas.push( val);
	            });
		        
		        table
	            .column(columna, { search: 'applied' })
	            .data()
	            .each(function (val) {
	            	dato.push( parseFloat(val));
	            });
		        
		        for (i = 0; i < fechas.length; i++){
		        	if (tipo =='tiempos' ){
		        		counts[fechas[i]+" "+horas[i]] = dato[i];
		        	}else{
		        	counts[fechas[i]+" "+horas[i]] = dato[i]*100;
		        	}
		        }
		        
		       
		     
		        // And map it to the format highcharts uses
		        return $.map(counts, function (val, key) {
		            return {
		                name: key,
		                y: val,
		            };
		        });
		        
		       
		    }
			
		    function fechas(table) {
		        
		     	var fecha = [];
		        
		        // Count the number of entries for each position
		        table
		            .column(0, { search: 'applied' })
		            .data()
		            .each(function (val) {
		            	fecha.push( val);
		            });
		        
		        // And map it to the format highcharts uses
		        return fecha;
		    }
		    
		    function columnas(table,tipo){
		    	
		    	var column = table.column(2);
		    	column.visible(false);
		    	
		    	if (tipo == 'saque'){
		     		table.columns( [2,3,4]).visible(true);
		     		table.columns( [2,3,4]).visible(true);
		     		table.columns( [5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]).visible(false);
		     	} else if(tipo == 'recepcion'){
		     		table.columns( [5,6,7]).visible(true);
		     		table.columns( [5,6,7]).visible(true);
		     		table.columns( [2,3,4,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]).visible(false);
		     	}else if(tipo == 'colocacion'){
		     		table.columns( [8,9,10]).visible(true);
		     		table.columns( [8,9,10]).visible(true);
		     		table.columns( [5,6,7,2,3,4,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]).visible(false);
		     	}else if (tipo == 'defensa'){
		     		table.columns( [11,12,13]).visible(true);
		     		table.columns( [11,12,13]).visible(true);
		     		table.columns( [5,6,7,8,9,10,2,3,4,14,15,16,17,18,19,20,21,22,23,24,25]).visible(false);
		     	}else if (tipo == 'bloqueo'){
		     		table.columns( [14,15,16]).visible(true);
		     		table.columns( [14,15,16]).visible(true);
		     		table.columns( [5,6,7,8,9,10,11,12,13,2,3,4,17,18,19,20,21,22,23,24,25]).visible(false);
				}else if (tipo == 'remate'){
					table.columns( [17,18,19]).visible(true);
					table.columns( [17,18,19]).visible(true);
		     		table.columns( [5,6,7,8,9,10,11,12,13,14,15,16,2,3,4,20,21,22,23,24,25]).visible(false);
				}else if (tipo == 'finta'){
					table.columns( [20,21,22]).visible(true);
					table.columns( [20,21,22]).visible(true);
		     		table.columns( [5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,2,3,4,23,24,25]).visible(false);
				}else if (tipo == 'ataque'){
					table.columns( [23,24,25]).visible(true);
					table.columns( [23,24,25]).visible(true);
		     		table.columns( [5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,2,3,4]).visible(false);
				}
		    }
		    
	</script>
	
	<script type="text/javascript">
       w3IncludeHTML();
	</script>
</body>
</html>