<meta charset="UTF-8" />
<div class="modal fade " id="materialModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="Editar" aria-hidden="true">
	  <div class="modal-dialog modal-xl modal-dialog-centered">
	    <div class="modal-content">
		    <form id="formMateriales" method="post">
		      <div class="modal-header bg-info">
		        <h5 class="modal-title" id="gestionMateriales"></h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		      <div class="form-group" id="modalFormMateriales">
			  	
			  	
			  			<div class="row">
							<div class="form-group col">
								<label>Balón Medicinal:</label>
								<input class="form-control" type="number" placeholder="Cantidad" th:id="cantidad1" name="cantidad" min="0" max="300" value="0" required></input>
								<small class="cantidadBALONMEDICINAL text-danger error"></small>
							</div>
							<div class="form-group col">
								<label>Balón de Juego:</label><input class="form-control" type="number" placeholder="Cantidad" th:id="cantidad2" name="cantidad" min="0" max="300" value="0" required></input>
								<small class="cantidadBALONDEJUEGO text-danger error"></small>
							</div>
							<div class="form-group col">
								<label>Red:</label><input class="form-control" type="number" placeholder="Cantidad" th:id="cantidad3" name="cantidad" min="0" max="300" value="0" required></input>
								<small class="cantidadRED text-danger error"></small>
							</div>
						</div>
						<div class="row">
							<div class="form-group col">
								<label>Poste:</label><input class="form-control" type="number" placeholder="Cantidad" th:id="cantidad4" name="cantidad" min="0" max="300" value="0" required></input>
								<small class="cantidadPOSTE text-danger error"></small>
							</div>
							<div class="form-group col">
								<label>Cono Bajo:</label><input class="form-control" type="number" placeholder="Cantidad" th:id="cantidad5" name="cantidad" min="0" max="300" value="0" required></input>
								<small class="cantidadCONOBAJO text-danger error"></small>
							</div>
							<div class="form-group col">
								<label>Cono Alto:</label><input class="form-control" type="number" placeholder="Cantidad" th:id="cantidad6" name="cantidad" min="0" max="300" value="0" required></input>
								<small class="cantidadCONOALTO text-danger error"></small>
							</div>
						</div>
						<div class="row">
							<div class="form-group col">
								<label>Cono Medio:</label><input class="form-control" type="number" placeholder="Cantidad" th:id="cantidad7" name="cantidad" min="0" max="300" value="0" required></input>
								<small class="cantidadCONOMEDIO text-danger error"></small>
							</div>
							<div class="form-group col">
								<label>Cuerda:</label><input class="form-control" type="number" placeholder="Cantidad" th:id="cantidad8" name="cantidad" min="0" max="300" value="0" required></input>
								<small class="cantidadCUERDA text-danger error"></small>
							</div>
							<div class="form-group col">
								<label>Cinta:</label><input class="form-control" type="number" placeholder="Cantidad" th:id="cantidad9" name="cantidad" min="0" max="300" value="0" required></input>
								<small class="cantidadCINTA text-danger error"></small>
							</div>
						</div>
						
			  	</div>
			  </div>
		      <div class="modal-footer" style="background: rgb(23,162,184); background: linear-gradient(0deg, rgba(23,162,184,0.75) 0%, rgba(255,255,255,1) 100%);">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
		        <button type="button" class="btn btn-info" onclick="return enviarEdicion();">Aceptar</button>
		        <input type="hidden" th:id="id" name="id"></input>
		      </div>
	    	</form>
	    </div>
	  </div>
	</div>

	
<script>


function enviarEdicion() {
			
			var form = new FormData();
	form.append("id", $('#id').val());
	
	form.append("cantidad1", $('#cantidad1').val());
	form.append("cantidad2", $('#cantidad2').val());
	form.append("cantidad3", $('#cantidad3').val());
	form.append("cantidad4", $('#cantidad4').val());
	form.append("cantidad5", $('#cantidad5').val());
	form.append("cantidad6", $('#cantidad6').val());
	form.append("cantidad7", $('#cantidad7').val());
	form.append("cantidad8", $('#cantidad8').val());
	form.append("cantidad9", $('#cantidad9').val());
	
	
	$.ajax({
		url : '/entrenamientos/updatematerial',
		type : 'post',
		data : form,
		processData : false,
		contentType : false,
		success : function(data) {
			$('#materialModal').modal("hide");
			tablaPrincipal.ajax.reload(null, false);
		},
		error : function(data) {
			console.log(data.responseJSON);
			
			$('.error').text('');

		//	for (i = 0; i < data.responseJSON.length; i++) {

			//	var campo = data.responseJSON[i].field;
			//	$('.' + campo)
			//			.text(data.responseJSON[i].defaultMessage);
			//}
		if(data.responseJSON.cantidadBALONMEDICINAL){
			$('.cantidadBALONMEDICINAL').text(data.responseJSON.cantidadBALONMEDICINAL);
		}
		if(data.responseJSON.cantidadBALONDEJUEGO){
			$('.cantidadBALONDEJUEGO').text(data.responseJSON.cantidadBALONDEJUEGO);
		}
		if(data.responseJSON.cantidadRED){
			$('.cantidadRED').text(data.responseJSON.cantidadRED);
		}
		if(data.responseJSON.cantidadCINTA){
			$('.cantidadCINTA').text(data.responseJSON.cantidadCINTA);
		}
		if(data.responseJSON.cantidadPOSTE){
			$('.cantidadPOSTE').text(data.responseJSON.cantidadPOSTE);
		}
		if(data.responseJSON.cantidadCONOALTO){
			$('.cantidadCONOALTO').text(data.responseJSON.cantidadCONOALTO);
		}
		if(data.responseJSON.cantidadCONOBAJO){
			$('.cantidadCONOBAJO').text(data.responseJSON.cantidadCONOBAJO);
		}
		if(data.responseJSON.cantidadCONOMEDIO){
			$('.cantidadCONOMEDIO').text(data.responseJSON.cantidadCONOMEDIO);
		}
		if(data.responseJSON.cantidadCUERDA){
			$('.cantidadCUERDA').text(data.responseJSON.cantidadCUERDA);
		}
		}
		
	});
};

function material(id) {
	
	//var id = $(this).parent().find('#id').val();

	$('.error').text('');


	$
			.ajax({
				type : 'GET',
				url : '/entrenamientos/findeditentrenamiento/' + id,
				success : function(edit) {
					$('#modalFormMateriales').children('.only')
							.remove();

					$('#id').val(id);
				

					$('.modal-header').css("color", "white");
					$('.modal-title').text(
							"Materiales a usar en el entrenamiento ");
					$('#materialModal').modal("show");
				}
			});
};



</script>